<div class="col-md-6 col-sm-12 col-xs-12 left-col">
  <div class="form-group">
    <%= f.label :title, class: 'control-label' %>
    <%= f.text_field :title, class: 'form-control' %>    
  </div>
  <div class="form-group">
    <%= f.label :purchase_price, 'Purchase Price', class: 'control-label' %>
    <div class="input-group">
      <div class="input-group-addon">$</div>
      <%= f.number_field :purchase_price, min: 0, class: 'form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :raise_amount, 'Raise Amount', class: 'control-label' %>
    <div class="input-group">
      <div class="input-group-addon">$</div>
      <%= f.number_field :raise_amount, min: 0, class: 'form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :hold_period, 'Hold Period', class: 'control-label' %>
    <%= f.text_field :hold_period, class: 'form-control' %>    
  </div>
  <div class="form-group">
    <%= f.label :preferred_return, 'Preferred Return (%)', class: 'control-label' %>
    <%= f.text_field :preferred_return, class: 'form-control' %>    
  </div>
  <div class="form-group">
    <%= f.label :average_annual_return, 'Average Annual Return (%)', class: 'control-label' %>
    <%= f.text_field :average_annual_return, class: 'form-control' %>    
  </div>
  <div class="form-group">
    <%= f.label :irr, 'IRR (%)', class: 'control-label' %>
    <%= f.text_field :irr, class: 'form-control' %>
  </div>
  <div class="form-group datepicker-main">
    <%= f.label :close_date, 'Close Date', class: 'control-label' %>
    <div class="input-group">
      <div class="input-group-addon"><i class="fa fa-calendar" aria-hidden="true"></i></div>
      <% if !@syndication.new_record? && @syndication.close_date.present? %>
        <%= f.text_field :close_date, value: @syndication.close_date.strftime('%m/%d/%Y'), class: 'form-control' %>
      <% else %>
        <%= f.text_field :close_date, class: 'form-control' %>
      <% end %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :price_per_share, 'Price Per Share', class: 'control-label' %>
    <div class="input-group">
      <div class="input-group-addon">$</div>
      <%= f.number_field :price_per_share, min: 0, class: 'form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :loan_amount, 'Loan Amount', class: 'control-label' %>
    <div class="input-group">
      <div class="input-group-addon">$</div>
      <%= f.number_field :loan_amount, min: 0, class: 'form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :loan_rate, 'Loan Rate (%)', class: 'control-label' %>
    <%= f.text_field :loan_rate, class: 'form-control' %>    
  </div>
</div>
<div class="col-md-6 col-sm-12 col-xs-12 left-col">
  <div class="form-group">
    <%= f.label :year_built, 'Year Built', class: 'control-label' %>
    <%= f.text_field :year_built, class: 'form-control' %>    
  </div>
  <div class="form-group">
    <%= f.label :building_size, 'Building Size (sqft)', class: 'control-label' %>
    <%= f.number_field :building_size, min: 0, class: 'form-control' %>    
  </div>
  <div class="form-group">
    <%= f.label :lot_size, 'Lot Size (acres)', class: 'control-label' %>
    <%= f.number_field :lot_size, min: 0, step: :any, class: 'form-control' %>    
  </div>
  <div class="form-group">
    <%= f.label :number_of_buildings, 'Number Of Buildings', class: 'control-label' %>
    <%= f.number_field :number_of_buildings, min: 0, class: 'form-control' %>    
  </div>
  <div class="form-group">
    <%= f.label :property_type, 'Property Type', class: 'control-label' %>
    <%= f.text_field :property_type, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :number_of_tenants, 'Number Of Tenants', class: 'control-label' %>
    <%= f.number_field :number_of_tenants, min: 0, class: 'form-control' %> 
  </div>
  <div class="form-group">
    <%= f.label :image, class: 'control-label' %>
    <%= f.label :image, class: 'btn btn-default' do %>
    <i class="fa fa-picture-o" aria-hidden="true"></i> Upload Image
    <%= f.file_field :image, style: 'display:none;' %>
    <% end %>
    <%= image_tag @syndication.image.thumb.url, class: 'img-responsive mar-top-15 preview-img' %>
  </div>
  <div class="form-group">
    <%= f.label :notes, class: 'control-label' %>
    <%= f.text_area :notes, class: 'form-control', rows: 2 %> 
  </div>
  <div class="form-group">
    <div class="checkbox">
      <label><%= f.check_box :active %><span class="cr"><i class="cr-icon fa fa-check"></i></span> Check to Active / Uncheck to Inactive</label>
    </div>
  </div>
</div>
<div class="col-xs-12"><hr></div>