<%= stylesheet_link_tag 'blog-pages' %>
<%= render 'layouts/jumbtron' %>
<section class="main-body without-search-feature">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="box-shadow">
        <ol class="breadcrumb">
              <li><%= link_to 'Home', root_url %></li>
              <li class="active">Our Blogs</li>
            </ol>
        </div>
      </div>
    </div>
    <div class="row content-section">
      <div class="col-xs-12">
        <h1>Our Blogs</h1>
          <div class="row blog-listing" id="blog-listing">
            <%= render partial: 'blogs', locals: {blogs: @blogs} %>
          </div>
      </div>
    </div>
    <% if will_paginate %>
      <div class="row">
        <div class="col-xs-12 text-center">
          <a href="javascript:;" id="more_blogs", class="btn btn-lg border-btn space-setting"><i class="fa fa-th" aria-hidden="true"></i> View More Blogs</a>
        </div>
      </div>
      <%= will_paginate @blogs %>
    <% end %>
  </div>
</section>

<%= javascript_include_tag 'blog' %>