<%= stylesheet_link_tag 'blog-pages' %>
<%= stylesheet_link_tag 'owl.carousel' %>

<% if @blog.image.present? %>
  <section class="blog-img-header">
    <%= image_tag @blog.image.url, class: 'img-responsive' %>
  </section>
<% else %>
  <div class="topfix">
    <%= render 'layouts/jumbtron' %>
  </div>
<% end %>

<section class="main-body only-bread-crumb <%= Blog.count > 1 ? '' : 'mar-btm-setting' %>">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="box-shadow">
          <ol class="breadcrumb">
            <li><%= link_to 'Home', root_url %></li>
            <li><%= link_to 'Blogs', blogs_path, method: :get %></li>
            <li class="active"><%= @blog.title %></li>
            <% if current_user %>
              <li><%= link_to 'Edit', edit_blog_path(@blog) %></li>
            <% end %>
          </ol>
        </div>
      </div>
    </div>
    <div class="row content-section">
      <div class="col-xs-12">
        <h1><%= @blog.title %></h1>
        <ul class="status-dtls">
          <li><i class="fa fa-calendar" aria-hidden="true"></i> <%= @blog.formatted_date %></li>
        </ul>
        <%= @blog.content.html_safe %>
      </div>
    </div>
  </div>
</section>
<% if Blog.count > 1 %>
  <section class="latest-blogs-section">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 blog-listing">
          <h2 class="text-center">Latest Blogs</h2>
          <div id="latest-blogs" class="owl-carousel owl-theme">
            <% @blogs.each do |blog| %>
              <div class="item">
                <div class="listing-box">
                  <div class="img-box">
                    <%= image_tag blog.image.thumb.url, alt: '', class: 'img-responsive' %>
                  </div>
                  <h3><%= link_to blog.title.truncate(Settings.truncate.blog.title), blog_path(blog), method: :get %></h3>
                  <p><%= blog.summary.truncate(Settings.truncate.blog.summary) %></p>
                  <ul class="status-dtls">
                    <li><i class="fa fa-calendar" aria-hidden="true"></i> <%= blog.formatted_date %></li>
                    <li class="text-right"><%= link_to blog_path(blog) do %>Read More <i class="fa fa-angle-right" aria-hidden="true"></i><% end %></li>
                  </ul>
                </div>
              </div>
            <% end %>
          </div>
          <div class="text-center">
            <%= link_to blogs_path, class: 'btn border-btn btn-lg mar-top-40' do %><i class="fa fa-th" aria-hidden="true"></i>View All Blogs<% end %>
          </div>
        </div>
      </div>
    </div>
  </section>
<% end %>

<%= javascript_include_tag 'owl.carousel.min' %>

<script>
  $(function(){
    $("#latest-blogs").owlCarousel({autoPlay:6000,items:3,itemsDesktop:[1199,3],itemsDesktopSmall:[991,3],itemsTablet:[767,2],itemsMobile:[479,1],transitionStyle:"fade"});
  });
</script>