<% set_meta_tags(title: t('seo.faq.title'), description: t('seo.faq.description'), image: asset_url(t('seo.image_3')), twitter: {image: asset_url(t('seo.image_3'))}, og: {image: asset_url(t('seo.image_3'))}) %>
<%= render 'layouts/jumbtron' %>
<section class="main-body without-search-feature">
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<div class="box-shadow">
					<ol class="breadcrumb">
						<li>
							<%= link_to 'Home', root_url %>
						</li>
						<li class="active">
							FAQ
						</li>
					</ol>
				</div>
			</div>
		</div>
		<div class="row content-section faq">
			<div class="col-xs-12">
				<h1>Frequently Asked Questions (FAQs) about Real Estate Investing</h1>
				<ol>
					<li>
						<%= link_to "Commercial & Multifamily", faq_path(:anchor => "send_1") %>
					</li>
					<li>
						<%= link_to "Syndications", faq_path(:anchor => "send_2") %>
					</li>

					<li>
						<%= link_to "Investing with IRA", faq_path(:anchor => "send_3") %>
					</li>
				</ol>
				<hr>
			</div>
			<div class="col-xs-12 Commercial" >
				<h2 id="send_1">Commercial & Multifamily</h2>
				<article>
					<h4>Financial Terms</h4>
					<p>
						<b>CAP (Capitalization Rate):</b>Percent of cash return in the first year if the property were purchased for cash. The ratio of NOI to purchase price.
					</p>
					<p>
						<b>NOI (Net Operating Income):</b>Income after vacancy and expenses and before debt service.
					</p>
					<p>
						<b>Rent Ratio:</b>(monthly rent / purchase price or market value). Should be 1.0% or more for acceptable cash on cash return with 75-80% loan. Mostly used for rental homes.
					</p>
					<p>
						<b>Gross Rent Multiplier:</b>(purchase price or asking price / gross rents received from an investment). Mostly used for multifamily (apartment) properties.
					</p>
					<p>
						<b>Depreciation:</b>Commercial is 39 years linear depreciation, residential (to include multifamily) is 27.5 years. This assumes all physical assets will predictably depreciate to a value of zero after this time, and the losses from this offset income on a tax basis.  Depreciation is one of the main benefits of investment real estate ownership.
					</p>
					<p>
						<b>Cash on Cash Return:</b>Percent of cash out of an investment in a year relative to the amount of cash invested. It does not consider time value of money. It is a very commonly used metric however, seldom used professionally.
					</p>
					<p>
						<b>Internal Rate of Return (IRR):</b>The annual rate of return that one receives on an investment for all of the capital and cash flows based on the net present value for each when deployed. It is the discount rate such that the sum of today’s investment and future cash flows have a net value of zero.  It expresses in the form of an interest rate the value of a given investment in today’s terms. It is the most accurate and one of the most widely used ways of calculating and comparing multiple investments by professionals.
					</p>
					<p>
						<%= link_to "Back to Top", "#top"%>
					</p>
				</article>
				<hr>

				<article>
					<h4>Average Annual Return</h4>
					<p>The annual rate of return that one receives on an investment for all of the capital and cash flows invested. It does not factor in the net present value of all monies that go into and out of the investment.
					</p>
					<p>
					<%= link_to "Back to Top", "#top"%>
					</p>
				</article>
				<hr>
				<article>
					<h4>How does the Average Annual Return compare to IRR?</h4>
					<p>The IRR typically is slightly lower than the Average Annual Return because the profits at the end upon sale have a lower net present value than monies that are spent at the beginning of an investment.
					</p>
					<p>
						<b>Debt Service:</b>Amount of the principal plus interest loan payment per month or annual. The cash flow that services the debt.
					</p>

					<p>
						<%= link_to "Back to Top", "#top"%>
					</p>
				</article>
				<hr>


				<article>
					<h4>Lease Terms</h4>
					<p>
						<b>NNN:</b>A type of lease in which the tenant is responsible for the taxes, insurance and maintenance of the building that the tenant leases. Often there is some landlord responsibility (i.e roof and foundation, parking lot, hvac etc)
					</p>
					<p>
						<b>Absolute NNN:</b>Similar to above however, the tenant receives and pays all bills directly, bypassing the landlord as an intermediary. This is generally the most favorable lease for a landlord.
					</p>
					<p>
						<b>Gross Lease:</b>Taxes, insurance, and maintenance are the responsibility of the landlord. The tenant is still responsible for their utilities.
					</p>
					<ul>
						<li><b>Modified Gross:</b>Similar to above but with a slight modification - the modification is determined through the negotiations between Tenant and Landlord.</li>
					</ul>
					<p>
						<b>Full Service Lease:</b>Tenant’s rent includes all the same components of a Gross Lease but the Landlord is also responsible for paying the utilities used by Tenant.
					</p>
					<p>
						<%= link_to "Back to Top", "#top"%>
					</p>
				</article>
				<hr>
				<article>
					<h4>Retail Location Terms</h4>
					<p>
						Traffic Count: The number of cars that drive by a given street, highway or freeway of a property. Traffic counts are important when evaluating the value of a location in certain types of commercial real estate such as retail, office, and multifamily.
					</p>
					<p><b>End Cap:</b>The end space in a retail center. Often this space fetches some of the highest rents in a given shopping center on a $/SF basis. They generally attract regional or smaller national tenants.</p>

					<p><b>Pad Space: </b>The free standing buildings in a shopping center. These spaces tend to achieve high rents like end caps but tend to be more popular with QSRs (Quick Service Restaurant a.k.a Fast Food) due to their ability to accommodate a drive-thru. These were once popular with Banks as well.</p>

					<p><b></b>Anchor Tenant: The tenant with the largest geographic draw in a given shopping center. Also often the largest tenant in terms of space taken. Anchor tenants can make or break a shopping center. They are generally national credit tenant and can service a very large radius of residents depending on the immediate trade area demographics and population density.</p>

					<p><b>Shadow Anchor: </b>A retail shopping center or strip center that is next to an Anchor Tenant but on a separate parcel. Therefore the center benefits from the Anchor tenant’s regional draw but is independent from the shopping center which has the anchor tenant.</p>

					<p><b>Hard Corner: </b>A location that is at an intersection or on a corner. The parcel has frontages on two roads. Due to increased traffic counts hard corners are very desirable in retail real estate.</p>

					<p><b>Signalized Intersection:</b> An amenity to a hard corner location. This would make a hard corner location even more desirable. Generally signalized intersections have high traffic counts - hence the need for the signal and cause cars to stop and look around during a red light which is also perceived as a benefit to retail tenants especially those in end cap or pad locations</p>

					<p><b> How do I select the best metros to invest in?</b></p>
					<ol type="A">
						<li>Filter for the following parameters:</li>
						<ul>
							<li>Highest CAP rates</li>
							<li>Highest potential for actual vs. virtual returns</li>
							<li>Potential for appreciation and rent appreciation</li>
							<ul>
								<li>Population growth & inward migration</li>
								<li>Employment growth</li>
								<li>Cost of living</li>
								<li>Political support of business and development</li>
							</ul>
						</ul>
					</ol>
					<p><b>How do I select the best team to help me achieve my investment goals?</b></p>
					<ul>
						<li> Track record </li> <li>Integrity</li> <li>Experience</li>
						<li>Expertise </li>
						<li>Ability to qualify for loans</li>
						<li>Access to deal flow</li>
						<li>Ability to negotiate</li>
						<li>Ability to manage investment</li>
					</ul>
					<p><b>What are the different asset classes within commercial/multifamily real estate?</b></p>
					<ol type="A">
						<li>Office</li>
						<ul>
							<li>Single Tenant</li>
							<li>Multi Tenant</li>
						</ul>
						<li>Retail</li>
						<ul>
							<li>Power Center</li>
							<li>Regional Shopping Center</li>
							<li>Neighborhood Retail Center</li>
							<li>Strip Centers</li>
						</ul>
						<li>Industrial</li>
						<ul>
							<li>Single and multi-tenant</li>
							<li>Manufacturing</li>
							<li>R&D</li>
							<li>Warehouse / distribution</li>
						</ul>
						<li>Land</li>
						<ul>
							<li>Landbanking</li>
							<li>Entitlement</li>
							<li>Development</li>
						</ul>
						<li>Multifamily</li>
						<ul>
							<li>Garden</li>
							<li>High-Rise</li>
							<li>Specialized</li>
							<ul>
								<li>Student</li>
								<li>Subsidized</li>
								<li>Disability</li>
							</ul>
						</ul>
						<li>Medical</li>
						<ul>
							<li>Clinic</li>
							<li>Hospital</li>
						</ul>
						<li>Elder Care</li>
						<ul>
							<li>Independent Living</li>
							<li>Assisted Living</li>
							<li>Nursing Care</li>
						</ul>
						<li>Hospitality</li>
						<ul>
							<li>Flagged / Non-Flagged</li>
							<li>Motel</li>
							<li>Hotel</li>
						</ul>
					</ol>
					<p>
						<%= link_to "Back to Top", "#top"%>
					</p>
				</article>
				<hr>
				<article>
					<h4 id="send_4">How do their market cycles vary?</h4>
					<p>
						 Typically single family assets lead the market cycle, and tend to be most closely aligned with the current economic cycle.  When the economy dips, single family prices tend to dip immediately as well.  Non-multifamily commercial assets move slower, and tend to lag compared to economic changes.  In addition, commercial tenants tend to be of higher credit, longer term, and be less likely to move or default on a lease. Many commercial asset classes tend to be more stable than single family.
					</p>
					<p>
						<%= link_to "Back to Top", "#top"%>
					</p>
				</article>
				<hr>
				<article>
					<h4 id="send_5">How do I evaluate whether a deal is for me or not?</h4>
					<p>
						<b>Trust in syndicator </b>As an investor you are a limited partner in a commercial real estate deal.  As such, you are fully passive, with all management decisions being made by the syndicator (sponsor).  Therefore, trust in a syndicator, and a successful track record, is very important when evaluating a deal
					</p>
					<p>
						<b>Risk tolerance</b> Commercial deals tend to run the gamut of risk/reward.  Low risk investments are typically stabilized assets that have conservative leases and tenants in place close to or at full occupancy.  These are usually longer hold periods and are sometimes referred to as “mailbox money”, with a secure dividend check every quarter.  Other deals are “value add”, which take on more risk to make substantial improvements to a property, typically increasing both occupancy and rents.  Development deals also offer attractive returns at higher risk, and can encompass land entitlement, construction, and operation of a new facility.
					</p>
					<p><b>Desire for passive investments</b>As a limited partner investors take a passive role in the ownership of real estate commercial investments.  Sponsors set up full property management, handle taxes, finances, accounting, and an investor simply receives predetermined profit splits.  It also has the advantage of limiting liability to amount invested due to passive nature.</p>

					<p><b>Cash flow vs appreciation</b>Lower risk deals tend to have more stabilized values but produce cash flow over long terms that help meet investor cash flow goals.  Appreciation and value add deals can generate a large profit but take on more risk to attempt those objectives.</p>

					<p>
						<%= link_to "Back to Top", "#top"%>
					</p>
				</article>
				<hr>
				<article>
					<h4 id="send_6">Why are commercial tenants easier to manage than residential?</h4>
					<p>
						Long lease terms, NNN leases, economies of scale for multifamily.
					</p>
					<p>
						<%= link_to "Back to Top", "#top"%>
					</p>
				</article>
				<hr>
				<article>
					<h4 id="send_7">How do I get on your list to receive investment opportunities?</h4>
					<p>
						Sign up for newsletter!
					</p>
					<p>
						<%= link_to "Back to Top", "#top"%>
					</p>
				</article>
				<hr>
				<article>
					<h4 id="send_8">I notice the tax records that you appreciatively provide to me sometimes show appraised values that are higher or lower than the your sale price and of the MLS comparables. Can you explain this?</h4>
					<p>
						 Texas is one of 11 non-disclosure states, which means that the sales prices do not have to be reported, although many do, which is where we obtain the MLS comparables to support each property value. So each county appraisal district has to guess what each property is worth, and if it was sold, for how much. It becomes a good news/bad news issue.
					</p>
					<p>
						If the appraised value is less than your purchase price, that is typical, because generally the appraised values trails the actual market value by two to three years and your taxes will be lower, and it will reflect in a little higher cash flow ROI for you.
					</p>
					<p>
						If the appraised value for the property that you are considering purchasing is higher, it is further supporting evidence that you are buying a good value. The bad news is that your tax may be a little higher, but if you send in a protest letter along with your copy of the sale (closing statement), generally they will reduce the appraised value, and, therefore, the taxes.
					</p>
					<p>
						<%= link_to "Back to Top", "#top"%>
					</p>
				</article>
				<hr>
				<article>
					<h4 id="send_9"> What are the advantages of each type of investment product? How do single family homes compare as investments to a duplexes, fourplexes small multi families, apartment buildings or commercial properties?</h4>
					<p>
						Single Family Residences (SFR) are relatively easy to understand, liquidate or get cash out from a refi. In order to give good cash flow the rent should be close to 1% per month of the total investment amount, are best if they are not built earlier than the 80’s, and should be in a region with high employment growth and a broad based economy, not “one horse towns” like N. Dakota.
					</p>

					<p>Duplexes, triplexes, and fourplexes can give slightly higher cash flow (if everything else is equal), however, you are putting more “eggs in one address”. They are less liquid and tend to appreciate less than a SFH. Like all investments it is critical that you buy from a reputable experienced source and that you get excellent property management.</p>

					<p>Multifamily (Apartment buildings - 5 or more units) properties just amplify the characteristics above, both positively and negatively. It is very difficult to qualify for a loan if you are not currently a mulfifamily owner, however, if you do, or if you invest with an entity that can, you avoid limiting your Fannie/Freddie loan restrictions. To reduce and spread your risks it is recommended that you invest with an excellent, reputable and very experienced syndicator.</p>

					<p>Commercial properties on the average have higher returns and higher risks. Their advantages are that you have higher quality tenants, longer term leases, and more predictable income. Also most are NNN (triple net) which means that the taxes, insurance, and maintenance costs are passed on to the tenants. Again, like with multifamily properties, to reduce and spread your risks it is recommended that you invest with an excellent, reputable and very experienced syndicator.</p>

					<p>
						<%= link_to "Back to Top", "#top"%>
					</p>
				</article>
				<hr>
			</div>
			<div class="col-xs-12 Syndications">
				<h2 id="send_2">Syndications</h2>
				<article>
					<h4> How do I select the best metros to invest in?</h4>
					<ul>
						<li>CAP rates.</li>
						<li>Potential for actual vs. virtual returns.</li>
						<li>Potential for appreciation and rent appreciation.</li>
					</ul>
					<p>
						<%= link_to "Back to Top", "#top"%>
					</p>
				</article>
				<hr>
				<article>
					<h4> How do I select the best team to help me achieve my investment goals?</h4>
					<ul>
						<li>Track record</li>
						<li>Integrity</li>
						<li>Experience</li>
						<li>Expertise</li>
						<li>Ability to qualify for loans</li>
						<li>Access to deal flow</li>
						<li>Ability to negotiate</li>
						<li>Ability to manage investment</li>
					</ul>
					<p>
						<%= link_to "Back to Top", "#top"%>
					</p>
				</article>
				<hr>
				<article>
					<h4> How do their market cycles vary?</h4>
				<p>Typically single family assets lead the market cycle, and tend to be most closely aligned with the current economic cycle.  When the economy dips, single family prices tend to dip immediately as well.  Commercial assets move slower, and tend to lag compared to economic changes.  In addition, commercial tenants tend to be of higher credit, be more reputable, and less likely to move or default on a lease, so commercial markets tend to be more stable than single family.</p>
				<p>
					<%= link_to "Back to Top", "#top"%>
				</p>
				</article>
				<hr>
				<article>
					<h4> How do I evaluate whether a deal is for me or not?</h4>
					<p><b>Trust in syndicator</b>As an investor you are a limited partner in a commercial real estate deal.  As such, you are fully passive, with all management decisions being made by the syndicator (sponsor).  Therefore, trust in a syndicator, and a successful track record, is very important when evaluating a deal.</p>
					<p><b>Risk tolerance</b>Commercial deals tend to run the gamut of risk/reward.  Low risk investments are typically stabilized assets that have conservative leases and tenants in place close to or at full occupancy.  These are usually longer hold periods and are sometimes referred to as “mailbox money”, with a secure dividend check every quarter.  Other deals are “value add”, which take on more risk to make substantial improvements to a property, typically increasing both occupancy and rents.  Development deals also offer attractive returns at higher risk, and can encompass land entitlement, construction, and operation of a new facility.</p>
					<p><b>Desire for passive investments</b>As a limited partner investors take a passive role in the ownership of real estate commercial investments.  Sponsors set up full property management, handle taxes, finances, accounting, and an investor simply receives predetermined profit splits.  It also has the advantage of limiting liability to amount invested due to passive nature.</p>
					<p><b>Cash flow vs appreciation</b>Lower risk deals tend to have more stabilized values but produce cash flow over long terms that help meet investor cash flow goals.  Appreciation and value add deals can generate a large profit but take on more risk to attempt those objectives.</p>
					<p>
					<%= link_to "Back to Top", "#top"%>
					</p>
				</article>
				<hr>
				<article>
					<h4> How are Wilson Investment Properties’ syndications structured?</h4>
					<ul>
						<li>LLC owns property</li>
						<li>Investors own share in the LLC</li>
						<li>Management is separate LLC that has all liability</li>
						<li>Investors have no liability beyond their investment</li>
						<li>Managers have all responsibility in managing the asset</li>
					</ul>
					<p>
					<%= link_to "Back to Top", "#top"%>
					</p>
				</article>
				<hr>
				<article>
					<h4> How are syndications different than a REIT or fund?</h4>
					<p>Syndications allow one to invest only in products that match their investment objectives
					Funds generally invest in a portfolio of investments that may or may not meet investors objectives.</p><br>
					<p>REITs are public securities with broad investment objectives that have the volatility of typical market securities. “Investors” can get in and out at will but have no long term commitments.</p>
					<p>
					<%= link_to "Back to Top", "#top"%>
					</p>
				</article>
				<hr>
				<article>
					<h4> Syndications sound complicated. I’ve invested in rental homes and was considering multifamily now. Why would I invest in a multifam syndications over just buying it on my own?</h4>
					<p>Leverage, more cash to invest elsewhere, not all eggs in one basket, more passive
					Benefit from the expertise, experience, and ability of the syndicator to qualify for loans, select from many opportunities, vet the deal, and execute the management of the investment for maximum return on investment.
					</p>
					<p>
					<%= link_to "Back to Top", "#top"%>
					</p>
				</article>
				<hr>
				<article>
					<h4> When I buy a share, do I own a part of the property? (and can I use part of the property’s space?)</h4>
					<p>The syndication establishes a corporation that purchases the asset and the investors own shares of the corporation. An LLC corporation manages the asset for the investors.</p>
					<p>
					<%= link_to "Back to Top", "#top"%>
					</p>
				</article>
				<hr>
				<article>
					<h4> Do I pay taxes on the distributions?</h4>
					<p>Only on the net income after all expenses and depreciation. The annual net income reported on a typical K1 already takes advantage of the depreciation shelter of the investment.</p>
					<p>
					<%= link_to "Back to Top", "#top"%>
					</p>
				</article>
				<hr>
				<article>
					<h4> What if something happens to the economy and the property doesn’t sell as planned?</h4>
					<p>The future is hard to predict. We track five economists who predicted the 2007/8 crash accurately. WIP only invests in asset classes and metros that have in our opinion lower than average risks based on the last recession. If an asset and metro drops in value, we feel that our investments will fare better than most other investments that one might consider.</p>
					<p>
					<%= link_to "Back to Top", "#top"%>
					</p>
				</article>
				<hr>
				<article>
					<h4>Am I responsible for the expenses of if something major happens to the property and it needs repairs?</h4>
					<p>Your risk and liability is always limited to the amount of your original investment. If a cash call is required, you optional additional investment is typically limited to 10% of your original investment and that is optional.</p><br>
					<p>No (except cash call clause in PPM). NNN leases, already accounted for in reserves, unlike rental where landlord pays for all repairs</p>
					<p>
					<%= link_to "Back to Top", "#top"%>
					</p>
				</article>
				<hr>
				<article>
					<h4> What is IRR? How is it different from Average Annual Return?</h4>
					<p>An IRR factors in the net present value of all monies that go into and out of the investment including capital and cash flow. It is the most objective way to compare two investments. The IRR typically is slightly lower than the Average Annual Return because the profits at the end upon sale have a lower net present value than monies that are spent at the beginning of an investment.</p>
					<p>
					<%= link_to "Back to Top", "#top"%>
					</p>
				</article>
				<hr>
				<article>
					<h4> How are syndications more turnkey than rentals?</h4>
					<p>Syndications are one of the most hands-off real estate investments available to investors.  They allow investors to take a fully passive, limited partnership status alongside other limited partners in a clearly defined profit and revenue sharing structure.  These syndications have managers, or sponsors, who take the active management responsibility, manage PMs, make liquidation decisions, and ultimately all day to day decisions of the property.</p>
					<p>
					<%= link_to "Back to Top", "#top"%>
					</p>
				</article>
				<hr>
				<article>
					<h4> Why are commercial tenants easier to manage than residential?</h4>
					<p>Long lease terms, NNN leases, economies of scale for multifamily.</p>
					<p>
					<%= link_to "Back to Top", "#top"%>
					</p>
				</article>
				<hr>
				<article>
					<h4> What is an accredited investor?</h4>
					<p>An accredited investor is defined by section 501 in SEC’s Regulation D.</p>
					<a href="">https://www.ecfr.gov/cgi-bin/retrieveECFR?gp=&r=SECTION&n=17y3.0.1.1.12.0.46.176</a>
					<ol type="A">
						<p>In general, an investor is accredited if they:</p>
						<li>Have a net worth of greater than $1,000,000 excluding the value of their primary residence OR</li>
						<li>Makes over $200,000/yr gross income for the past 2 years OR</li>
						<li>Makes over $300,000/yr gross income filing joint for the past 2 years</li>
					</ol>
					<p>
					<%= link_to "Back to Top", "#top"%>
					</p>
				</article>
				<hr>
				<article>
					<h4> Why are some syndications open to only accredited investors and others to all investors?</h4>
					<p>
						Most real estate syndications are offered under section 506 of Regulation D in the SEC’s manual.  506(c) offerings allow full solicitation to public forums, however they require all accepted investment partners to be accredited.  506(b) allows limited solicitation to a sponsor’s network, and thereby allows for both accredited and non-accredited investors to take part.
					</p>
					<p>
					<%= link_to "Back to Top", "#top"%>
					</p>
				</article>
				<hr>
				<article>
					<h4> Do you typically charge an asset management fee?</h4>
					<p>Yes. Typically 1 to 1.5%</p>
					<p>
					<%= link_to "Back to Top", "#top"%>
					</p>
				</article>
				<hr>
				<article>
					<h4> How does WIP make their money on these deals?</h4>
					<p><b>From the following components:</b></p>
					<ul>
							<li>Sponsor fees at close to cover our costs to filter and vet the best deals.</li>
							<li>Loan fees to qualify and guarantee the loan</li>
							<li>Sometimes hold period percentage of cash flow if it is high enough to share
							Asset management fee for overseeing the investment. Typically this is less than the actual cost</li>
							<li>Percentage of the profits at sale after the lender is paid, the investors original capital is paid back, and after all of the preferred returns are paid. The primary profits for the sponsor are only paid after the property has performed well.</li>
					</ul>
					<p>
					<%= link_to "Back to Top", "#top"%>
					</p>
				</article>
				<hr>
				<article>
					<h4> What is WIP’s track record? Has WIP exited any syndications?</h4>
					<p>Please see <a href="">www.wilsoninvest.com/track-record.</a> We have exited two.</p>
					<p>
					<%= link_to "Back to Top", "#top"%>
					</p>
				</article>
				<hr>
				<article>
					<h4> How do I get on your list to receive investment opportunities?</h4>
					<p>Sign up for our newsletter!</p>
					<p>
					<%= link_to "Back to Top", "#top"%>
					</p>
				</article>
				<hr>
				<article>
					<h4>What are the advantages of each type of investment product? How do single family homes compare as investments to a duplexes, fourplexes, small multifamilies, apartment buildings or commercial properties?</h4>
					<p>
						Single Family Residences (SFR) are relatively easy to understand, liquidate or get cash out from a refi. In order to give good cash flow the rent should be close to 1% per month of the total investment amount, are best if they are not built earlier than the 80’s, and should be in a region with high employment growth and a broad based economy, not “one horse towns” like N. Dakota.</p>
						<p>
						Duplexes, triplexes, and fourplexes can give slightly higher cash flow (if everything else is equal), however, you are putting more “eggs in one address”. They are less liquid and tend to appreciate less than a SFH. Like all investments it is critical that you buy from a reputable experienced source and that you get excellent property management.</p>
						<p>Multifamily (Apartment buildings - 5 or more units) properties just amplify the characteristics above, both positively and negatively. It is harder to qualify for a loan, however, if you do, or if you invest with an entity that can, you avoid limiting your Fannie/Freddie loan restrictions. To reduce and spread your risks it is recommended that you invest with an excellent, reputable and very experienced syndicator.</p>
						<p>Commercial properties on the average have higher returns and higher risks. Their advantages are that you have higher quality tenants, longer tenants and more predictable income. Also most are NNN (triple net) which means that the taxes, insurance, and maintenance costs are passed on to the tenants. Again, like with multifamily properties, to reduce and spread your risks it is recommended that you invest with an excellent, reputable and very experienced syndicator</p>
						<p>
							<%= link_to "Back to Top", "#top"%>
						</p>
				</article>
				<hr>
				<article>
					<h4> What are the advantages of a syndication?</h4>
					<p>A syndication (Crowdfunding) is simply the pooling of funds from multiple investors for a common investment and goal. They have been around for literally thousands of years. Crowdfunding is just a modern term with special regulations for syndications. The advantages include:</p>
					<p><b>Enables Small Investors to “Play in the Big Leagues”</b></p>
					<p><span>✓</span>Invest with as little as $50K</p>
					<p><span>✓</span>Take advantage of promoter skills</p>
					<p><span>✓</span>Negotiations</p>
					<p><span>✓</span>Management</p>
					<p><span>✓</span>Greater asset class diversification</p>
					<ul>
						<li>Better high value deals</li>
						<li>Better access</li>
						<li>Better negotiations</li>
						<li>Can qualify for better loans</li>
						<li>Purchase larger & higher quality properties Professional management</li>
						<li>Economy of scale; Blanket contracts</li>
						<li>Easier to achieve a diversified portfolio</li>
					</ul>
					<p>Easier to get into outside markets</p>
					<ul>
						<li>Promoter assumes financial or legal risk</li>
						<li>Does not require day to day management or oversight by the investor</li>
						<li>Risk is limited to original investment</li>
						<li>Promoter has expertise to deal with complex issues</li>
						<li>Tenant Improvements</li>
						<li>Leasing Commissions</li>
						<li>Vacancy issues</li>
						<li>Negotiation of complex leases</li>
					</ul>
					<p>
						<%= link_to "Back to Top", "#top"%>
					</p>
				</article>
				<hr>
				<article>
					<h4> What characteristics should I look for in selecting an excellent syndicator?</h4>
					<p>Track record</p>
					<ul>
						<li>Integrity</li>
						<li>Incentivized Long Term</li>
						<li>Access to deals in strong metros</li>
						<li>Ability to negotiate & close</li>
						<li>Management</li>
					</ul>
					<p>
						<%= link_to "Back to Top", "#top"%>
					</p>
				</article>
			</div>
			<div class="col-xs-12 Investing" >
				<h2 id="send_3">Investing with IRA</h2>
				<article>
					<h4>Am I Allowed To Purchase Real Estate And Other Non-traditional Assets Using My Ira?</h4>
					<p>The answer is yes! The Employee Retirement Income Security Act (ERISA) of 1974 passed the responsibility of retirement saving from the employer to the employee. Created in 1975, IRAs provide individuals a chance to direct where their retirement funds are invested.
					The IRS code, instead of distinguishing which investments are allowed, identifies which investments are not permitted under these laws. Under both ERISA and IRS Codes, there are only two types of investments excluded: life insurance contracts and collectibles such as works of art, rugs, jewelry, etc. Refer to Internal Revenue Code Section 401 (IRC § 408(a) (3)).</p>
				</article>
				<hr>
				<article>
					<h4>My (Cpa, Attorney, Broker, Friend, Florist) Said That Buying And Selling Real Estate In My Self-directed Retirement Plan Was Illegal. Why?</h4>
					<p>This has been a long-standing myth. Neither the IRS nor the Department of Labor has ever published a list of legal investments. However, there is a list of Prohibited Transactions and Disqualified Persons that deal with what is not permitted. Real estate and other investments are permitted provided you follow the rules.</p>
					<p>
						<%= link_to "Back to Top", "#top"%>
					</p>
				</article>
				<hr>
				<article>
					<h4>Can I Consolidate My Iras?</h4>
					<p>Yes. You can consolidate:</p>
					<p>– Your traditional and SEP IRAs into a single traditional IRA</p>
					<p>– A SIMPLE IRA to a traditional IRA after two years</p>
					<p>– Multiple Roth IRAs to a single Roth IRA</p>
					<p>
						<%= link_to "Back to Top", "#top"%>
					</p>
				</article>
				<hr>
				<article>
					<h4>Are There Different Tax Rules For Self-directed Iras?</h4>
					<p>The unique thing with IRAs and 401(k)s are the tax advantages. Most contributions are either tax deductible as is the case of a Traditional IRA or 401(k), or the distributions are tax free as in the case of a Roth IRA or Roth 401(k). There are no unique rules for self-direction.</p>
					<p>
						<%= link_to "Back to Top", "#top"%>
					</p>
				</article>
				<hr>
				<article>
					<h4>I Have A 401(K) Plan With My Former Employer. How Can I Self-direct The Funds?</h4>
					<p>ou can self-direct the funds by rolling over your account into a traditional IRA or a qualified plan (if you are eligible to have a qualified plan) that permits complete self-direction. Contact your former employer’s plan administrator or benefits department to determine what, if any, special procedures may be required.</p>
					<p>If you are still employed, check with your current plan administrator to determine if self-direction is currently allowed within your plan or if this option can be added.</p>
					<p>
						<%= link_to "Back to Top", "#top"%>
					</p>
				</article>
				<hr>
				<article>
					<h4>Can I Use My 401(K) Funds With My Current Employer To Purchase Non-standard Assets?</h4>
					<p>Possibly. If the company has a self-directed 401(k), you may have the ability to self-direct your 401(k) into these types of investments. To be certain, contact your current 401(k) administrator.</p>
					<p>
						<%= link_to "Back to Top", "#top"%>
					</p>
				</article>
				<hr>
				<article>
					<h4>What Are The Different Funds I Can Use To Open A Self-directed Account?</h4>
					<p>Most employer-sponsored plans, like 401(k) do not let you roll your account into a new vehicle while you are still employed. Some employers, however, do allow you to roll a portion of your funds. To be certain, contact your current 401(k) provider.</p>
					<p><b>If you can roll your funds into a new account, here is a list of the types of accounts that are eligible:</b></p>
					<ul>
						<li>Traditional IRA</li>
						<li>Roth IRA</li>
						<li>SEP IRA</li>
						<li>SIMPLE</li>
						<li>Individual(k)</li>
						<li>Health Savings Accounts</li>
						<li>Coverdell Education Savings Accounts</li>
					</ul>
					<p>
						<%= link_to "Back to Top", "#top"%>
					</p>
				</article>
				<hr>
				<article>
					<h4>What Kinds Of Investments Can I Make?</h4>
					<p>You may purchase real estate, notes, commissions, options, private placements, accounts receivable, timber deeds, crops, cattle, stock, bonds, mutual funds, certificates of deposit, anything which is not prohibited or collectible as defined by the Internal Revenue code.</p>
					<p>
						<%= link_to "Back to Top", "#top"%>
					</p>
				</article>
				<hr>
				<article>
					<h4>What Is A Prohibited Transaction?</h4>
					<p>There are some transactions that are prohibited by the IRS. There are basic requirements and procedures needed to apply for exemptions from the prohibited transaction rules (includes ERISA and non-ERISA plans and Individual Retirement Arrangements).</p>
					<p>
						<%= link_to "Back to Top", "#top"%>
					</p>
				</article>
				<hr>
				<article>
					<h4>What Are The Limits To The Investments I Can Make?</h4>
					<p>You cannot invest in Collectibles or Life Insurance Contracts. There are also certain transactions in which you cannot participate when using IRA funds. These transactions are referred to as “prohibited transactions”. Prohibited Transactions are defined in IRC § 4975(c)(1) and IRS Publication 590. These transactions were established to maintain that everything the IRA engages in is for the exclusive benefit of the retirement plan. Sometimes professionals refer to these as “self-dealing” transactions. Self-dealing happens when an IRA owner uses their individual retirement funds for their personal benefit instead of benefiting the IRA. If you violate these rules, your entire IRA could lose its tax-deferred or tax-free status. It is important that you work with a competent Retirement Account Facilitator to avoid violating these rules.</p>
					<p>
						<%= link_to "Back to Top", "#top"%>
					</p>
				</article>
				<hr>
				<article>
					<h4>Why Do I Need An Administrator?</h4>
					<p>The Internal Revenue Service requires a custodian to hold the IRA assets and the custodian is required to report transactions on the account. Due to some of the nuances with self-directed accounts, a majority of custodians do not accept these types of assets.</p>
					<p>
						<%= link_to "Back to Top", "#top"%>
					</p>
				</article>
				<hr>
				<article>
					<h4>How Do I Find Out What The Current Contribution Limits Are For My Retirement Plan?</h4>
					<p>You can check out the contribution limits at <a href = "https://www.irs.gov/">IRS.gov.</a></p>
					<p>
						<%= link_to "Back to Top", "#top"%>
					</p>
				</article>
				<hr>
				<article>
					<h4>What Is Unrelated Business Income Tax?</h4>
					<p>UBIT comes in two forms. Unrelated Business Income Tax (UBIT) and Unrelated Debt Financed Income Tax (UDFI).</p>
					<p>UBIT applies to IRAs invested in entities that do not pay taxes (such as many LLCs) that are an operating entity of a business that produces in excess of $1,000 per year in income.
					UDFI relates to an IRA that is debt financed provided that the net gain is more than $1,000 in a year.</p>
					<p>UBIT is applied to profits made on the sale of a debt financed property.
					Preparation of the 990-T tax forms is performed by you. The trustee or custodian or appropriate agent will file such taxes and sign the tax forms on behalf of your plan.
					</p>
					<p>
						<%= link_to "Back to Top", "#top"%>
					</p>
				</article>
				<hr>
				<article>
					<h4>What Do I Do If I Don’t Have Enough Money To Buy Real Estate In My Ira?</h4>
					<p>You may partner with yourself or others; you make allowable contributions; you may obtain debt financing through private sources or financial institutions on a non-recourse basis; You may arrange a seller carry back loan; you may sell other assets in your IRA to raise cash to make the purchase; you may transfer funds from other IRAs or rollover funds from qualified plans, such as 401(k), 403(b) or government 457 plans you may have had at employers where you no longer work; If you have a profit sharing of 401(k)plan where you currently work, you may be able to make in-service withdrawals and roll those to the IRA within 60 days.</p>
					<p>
						<%= link_to "Back to Top", "#top"%>
					</p>
				</article>
				<hr>
			</div>
		</div>
	</div>
</section>