<% set_meta_tags(title: t('seo.financing_investments.title'), description: t('seo.financing_investments.description'), image: asset_url(t('seo.image_1')), twitter: {image: asset_url(t('seo.image_1'))}, og: {image: asset_url(t('seo.image_1'))}) %>
<%= render 'layouts/jumbtron' %>
<section class="main-body without-search-feature">
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<div class="box-shadow">
					<ol class="breadcrumb">
						<li><%= link_to 'Home', root_url %></li>
						<li class="active">
							Financing Investments
						</li>
					</ol>
				</div>
			</div>
		</div>
		<div class="row content-section">
			<div class="col-xs-12">
				<h1>Financing Investment in Property</h1>
				<p>
					IRAs, investment loans, hard money loans, &amp; cash.  There are many ways to finance your investment in income producing properties, and Wilson Investment Properties has experts to help you determine what source is best for you.
				</p>
				<h3>IRA</h3>
				<p>
					Self-directed IRAs provide an excellent opportunity to truly diversify your portfolio by <%= link_to 'investing in real estate', root_url, target: '_blank' %>. There are several companies that specialize in providing custodial services for <%= link_to 'real estate investment', root_url, target: '_blank' %>. Some IRA custodians may consider stocks to be the only way to self-direct your retirement income. This is not true! Real estate investing is a legitimate, legal, and excellent way to grow your retirement savings. We currently work with Bill Neville at Entrust <%= mail_to 'bneville@theentrustgroup.com' %>. Call us for a list of knowledgeable IRA custodians.
				</p>
				<h3>Investment Loan</h3>
				<p>
					Many investors purchase with the leverage of an investment loan. The investor supplies the down payment, uses the rental income to make the mortgage payments, and then enjoys the remainder as positive monthly income.  We recommend working with lenders who are experienced with investor loans and lender laws in the state where your investment property is located.  We have lender specialists as part of our team and are happy to provide lender references. Again, contact referrals here (w / non-endorsement). With government (Fannie Mae) loans near all time lows for 30 year fixed rates, Wilson Investment Properties recommends getting all of this cheap money that you can to leverage your returns.
				</p>
				<h3>Hard Money Loan</h3>
				<p>
					Hard money loans, or bridge loans, are loans secured by real property.  They are often short term in length, and commonly used as a source of down payment or to provide a bridge loan until a conventional mortgage is secured.
				</p>
				<h3>Cash</h3>
				<p>
					Payment in full at the time of closing is always an acceptable way to purchase a property! The percentage of return is less than with a leveraged purchase, however, the absolute net cash flow is greater. A cash purchase provides the minimum risk and at the same time the least upside increase in cash flow and value. Wilson Investment Properties recommends utilizing conservative leverage between 60% and 80%.
				</p>
				<h3>Equity Partners</h3>
				<p>
					If you don’t currently qualify for a conventional U.S. loan, you may find an equity partner to carry the loan and while sharing title and equity in the property. This allows one to get invested right away for time-sensitive opportunities.
				</p>
			</div>
		</div>
	</div>
</section>