<%= render 'layouts/jumbtron' %>
<section class="main-body without-search-feature gray-bg">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="box-shadow">
          <ol class="breadcrumb white">
            <li><%= link_to 'Home',root_url %></li>
            <li class="active">Import</li>
          </ol>
        </div>
      </div>
    </div>
    <div class="fixed-admin-body">
<!-- <div ng:controller="JobsCtrl">
<button
type="button"
class="btn btn-success btn-lg"
ng:click="syncSpreadsheet()"
ng:if="!jobs.loading"
>Sync Master Spreadsheet</button>
<button
type="button"
class="btn btn-warning btn-lg"
ng:if="jobs.loading"
ng:disabled="true"
>Syncing...</button>
</div> -->
<div class="col-xs-12">
  <h1>Import</h1>
  <div class="row mar-top-30 mar-btm-30">
    <div class="col-sm-6">
      <%= form_tag import_properties_path, multipart: true do %>
      <div class="form-group">
        <%= file_field_tag :file,class: 'form-control' %>
      </div>
      <div class="form-group">
        <%= submit_tag "Import",class: 'btn btn-default' %>
      </div>
      <% end %>
    </div>
  </div>
</div>
</div>
</div>
</section>