<% set_meta_tags(title: "#{t('seo.our_team.edit')} #{@user.name} - #{t('seo.site_title')}") %>
<%= render 'layouts/jumbtron' %>
<section class="main-body without-search-feature gray-bg">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="box-shadow">
          <ol class="breadcrumb white">
            <li><%= link_to 'Home',root_url %></li>
            <li><%= link_to 'Our Team',users_url %></li>
            <li class="active"><%= @user.name %></li>
            <li class="active">Edit</li>
          </ol>
        </div>
      </div>
    </div>
    <div class="fixed-admin-body">
      <div class="col-xs-12 user-form">
        <h1>Editing <%= @user.name %></h1>
          <%= render 'form' %>
      </div>
    </div>
  </div>
</section>