<% set_meta_tags(title: "#{t('seo.our_team.index.title')} - #{t('seo.site_title')}", description: t('seo.our_team.index.description'), image: asset_url(t('seo.image_4')), twitter: {image: asset_url(t('seo.image_4'))}, og: {image: asset_url(t('seo.image_4'))}) %>
<%= render 'layouts/jumbtron' %>
<section class="main-body without-search-feature">
  <div class="container" ng:controller="UsersCtrl">
    <div class="row content-section">
      <div class="col-xs-12">
        <div class="box-shadow">
          <ol class="breadcrumb">
            <li><%= link_to 'Home',root_url %></li>
            <li class="active">Our Team</li>
            <% if current_user %>
            <li><%= link_to 'New',new_user_path %></li>
            <% end %>
          </ol>
        </div>
      </div>
      <div class="col-xs-12">
        <h1>Team Members</h1>
        <% if current_user %>
          <ul class="pager">
            <li ng:show="!mode.edit"><a href="" ng:click="mode = {edit: true}"><i class="fa fa-sort" aria-hidden="true"></i> Re-Order</a></li>
            <li ng:show="mode.edit && !loading && changed"><a href="" ng:click="saveOrder()"><i class="fa fa-floppy-o" aria-hidden="true"></i> Save</a></li>
            <li ng:show="loading"><a href="" ng:click=""><i class="fa fa-ellipsis-h" aria-hidden="true"></i> Saving</a></li>
            <li ng:show="!changed && mode.edit"><a href="" ng:click="mode = {}"><i class="fa fa-times" aria-hidden="true"></i> Cancel</a></li>
          </ul>
          <div ng:show="!mode.edit">
          <span ng:init="users = <%= @users.to_json %>"></span>
          <span ng:init="setTeams()"></span>
          <div ng:repeat="team in teams">
            <div class="list-group">
              <div class="list-group-item active">
                <h3 class="list-group-item-heading capitalize">{{toUpperCase(team.name)}} Team</h3>
              </div>
            </div>
            <div class="row" ng:repeat="user in team.users">
              <div class="col-sm-3 col-xs-12">
                <img src="<%= asset_url('loading.svg') %>" ng-attr-data-src="{{user.image.thumb.url}}" alt="{{user.name}}" class="img-responsive">
                <h6 ng:if="user.email"><a href="mailto:{{user.email}}">{{user.email}}</a></h6>
                <h6 ng:if="user.phone"><b>Phone:</b> {{user.phone}}</h6>
                <h6><b>Public:</b> <b ng:if="user.public">Yes</b><b ng:if="!user.public">No</b></h6>
                <nav>
                  <ul class="pager">
                    <li><a href="<%= users_path %>/{{user.id}}/edit"><i class="fa fa-pencil" aria-hidden="true"></i> Edit</a></li>
                  </ul>
                </nav>
              </div>
              <div class="col-sm-9 col-xs-12 profile">
                <h2>{{user.name}}</h2>
                <h3>{{user.role}}</h3>
                <div ng:if="user.description" ng-bind-html="user.description"></div>
              </div>
              <div class="col-xs-12"><hr></div>
            </div>
          </div>
          </div>
          <div class="table-responsive mar-btm-30" ng:show="mode.edit">
            <table class="table table-striped table-condensed table-stack-left">
              <tr ng:repeat="user in users" ng:init="user.sort = $index">
                <td width="1">
                  <div><a href="" ng:click="moveUser(user,$index,$index-1)"><%= icon 'chevron-up' %></a></div>
                  <div><a href="" ng:click="moveUser(user,$index,$index+1)"><%= icon 'chevron-down' %></a></div>
                </td>
                <td width="1" class="vmiddle" class="no-wrap">
                <img ng:src="{{user.image.thumb.url}}" height="40" alt="{{user.name}}">
                </td>
                <td class="vmiddle" class="no-wrap">{{user.name}}</td>
              </tr>
            </table>
          </div>
        <% else %>
          <% @teams.each do |team| %>
            <div class="list-group">
              <div class="list-group-item active">
                <h3 class="list-group-item-heading capitalize"><%= team.titleize %> Team</h3>
              </div>
            </div>
            <% User.where(team: team).order(:sort).each do |user| %>
              <div class="row">
                <div class="col-sm-3 col-xs-12">
                  <%= image_tag 'loading.svg', 'data-src': user.image.thumb.url, alt: user.name, class: 'img-responsive' %>
                  <% if user.email.present? %>
                    <h6><%= mail_to user.email %></h6>
                  <% end %>
                  <% if user.phone.present? %>
                    <b>Phone:</b> <%= user.phone %>
                  <% end %>
                </div>
                <div class="col-sm-9 col-xs-12 profile">
                  <h2><%= user.name %></h2>
                  <h3><%= user.role %></h3>
                  <% if user.description.present? %>
                    <%= raw(user.description) %>
                  <% end %>
                </div>
                <div class="col-xs-12"><hr></div>
              </div>
            <% end %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</section>
<script>$(window).load(function(){$('img').unveil();});</script>