<div class="row mar-top-12">
  <div class="col-md-6 col-sm-12 col-xs-12 left-col">
    <div class="form-group">
      <label class="control-label"><%= t("form.resume") %><span class="text-danger"> *</span></label>
      <%= f.file_field :resume, required: true %>
      <%#= f.text_field :resume, class: 'form-control', placeholder: '' %>
    </div>
    <div class="form-group">
      <label class="control-label"><%= t("form.first_name") %><span class="text-danger"> *</span></label>
      <%= f.text_field :first_name, class: 'form-control', placeholder: '', required: true %>
    </div>
    <div class="form-group">
      <label class="control-label"><%= t("form.last_name") %><span class="text-danger"> *</span></label>
      <%= f.text_field :last_name, class: 'form-control', placeholder: '', required: true %>
    </div>
    <div class="form-group">
      <label class="control-label"><%= t("form.email") %><span class="text-danger"> *</span></label>
      <%= f.text_field :email, class: 'form-control', placeholder: '', required: true %>
    </div>
    <div class="form-group">
      <label class="control-label"><%= t("form.phone") %><span class="text-danger"> *</span></label>
      <%= f.text_field :phone, class: 'form-control', placeholder: '', required: true %>
    </div>
    <div class="form-group">
      <label class="control-label"><%= t("form.current_company") %><span class="text-danger"> *</span></label>
      <%= f.text_field :current_company, class: 'form-control', placeholder: '', required: true %>
    </div>
    <div class='text-left'>
      <strong><%= t('seo.links') %></strong>
    </div>
    <div class="form-group">
      <label class="control-label"><%= t("form.linkedin_url") %><span class="text-danger"> *</span></label>
      <%= f.text_field :linkedin_url, class: 'form-control', placeholder: '', required: true %>
    </div>
    <div class="form-group">
      <%= f.hidden_field :job_posting_id, value: params[:job_posting_id] %>
    </div>
  </div>
</div>
