<% set_meta_tags(title: t('seo.job_application.show')) %>
<div class="topfix">
  <%= render 'layouts/jumbtron' %>
</div>

<section class="main-body only-bread-crumb <%= JobPosting.count > 1 ? '' : 'mar-btm-setting' %>">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="box-shadow">
          <ol class="breadcrumb">
            <li><%= link_to 'Home', root_url %></li>
            <% if current_user %>
              <li><%= link_to 'Edit', edit_job_application_path(@job_application) %></li>
            <% end %>
          </ol>
        </div>
      </div>
    </div>
  </div>
</section>
<main class="container">
  <div class="row">
      <h1 class="text-center">
        <%= @job_application.job_posting.name %>
      </h1>
      <article class="col-md-12 col-sm-12 col-xs-12">
        <div class="listing-box clickable_div">
          <h5><strong>First Name:</strong>
          <%= @job_application.first_name %></h5>
          <h5><strong>Last Name:</strong>
          <%= @job_application.last_name %></h5>
          <h5><strong>Email:</strong>
          <%= @job_application.email %></h5>
          <h5><strong>Phone:</strong>
          <%= @job_application.phone %></h5>
          <h5><strong>current_company:</strong>
          <%= @job_application.current_company %></h5>
        </div>
      </article>
  </div>
</main>
