<% if properties.present? %>
  <% properties.each do |property| %>
    <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
      <div class="listing-box clickable_div">
        <div class="img-box">
          <%= link_to property_path(property.slug) do %><%= image_tag 'loading.svg', 'data-src': property.image.url, alt: "Property Image - #{property.raw_title}", class: 'img-responsive' %><% end %>
          <% if property.raw_status.present? %>
            <span class="status-tag-top <%= status_label_class(property.status) %>"><%= property.raw_status %></span>
          <% end %>
          <% if property.leased == 'yes' %><span class="status-tag-right blue">Leased</span><% end %>
        </div>
        <h3><%= link_to property.raw_title.truncate(Settings.truncate.property.listing_title), property_path(property.slug) %></h3>
        <ul class="labels">
          <li class="price"><span class="hidden">Price:</span> <%= raw_price(property.offer_price) %><% if property.offer_price_label.present? %><span><%= "/ #{property.offer_price_label}" %></span><% end %>
          </li>
          <li class="person"><%= property.raw_building_type %></li>
        </ul>
        <ul class="price-flow">
          <li>
            Cash Flow: 
            <span class="blue-text"><%= property.raw_cash_flow && property.cash_flow > 0 ? raw_price(property.raw_cash_flow) : 'N/A' %></span>
          </li>
          <li>Rent: 
            <span class="blue-text"><%= property.raw_rent && property.rent > 0 ? raw_price(property.raw_rent) : 'N/A' %></span>
          </li>
        </ul>
        <ul class="numbers-details">
          <li><span data-toggle="tooltip" data-placement="top" title="Bedroom"><i class="fa fa-bed" aria-hidden="true"></i><span class="hidden">Bedrooms:</span> <%= property.bedrooms && property.bedrooms > 0 ? property.bedrooms.to_i : 'N/A' %></span></li>
          <li><span data-toggle="tooltip" data-placement="top" title="Bathroom"><i class="fa fa-bath" aria-hidden="true"></i><span class="hidden">Bathrooms:</span> <%= property.bathrooms && property.bathrooms > 0 ? property.bathrooms.to_i : 'N/A' %></span></li>
          <li><span data-toggle="tooltip" data-placement="top" title="Garage"><i class="fa fa-car" aria-hidden="true"></i><span class="hidden">Garages:</span> <%= property.garages && property.garages > 0 ? property.garages.to_i : 'N/A' %></span></li>
        </ul>
      </div> 
    </div>
  <% end %>
<% end %>
