<% set_meta_tags(title: t('seo.property.index.title'), description: t('seo.property.index.description'), image: asset_url(t('seo.image_2')), twitter: {image: asset_url(t('seo.image_2'))}, og: {image: asset_url(t('seo.image_2'))}) %>
<%= render 'layouts/jumbtron' %>
<section class="main-body without-search-feature pad-btm-55">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="box-shadow">
          <ol class="breadcrumb">
            <li><%= link_to 'Home', root_url %></li>
            <li class="active">Properties</li>
            <% if current_user %>
            <li><%= link_to 'New', new_property_path %></li>
            <% end %>
          </ol>
        </div>
        <h1 class="common-title">Real Estate Investment Properties</h1>
        <div class="list-selection">
          <ul class="list-unstyled" id="building_type_menu">
            <% @building_types.each do |key, value| %>
              <li building_type="<%= value %>"><a href="javascript:;"><%= "#{key}" %></a></li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
    <div class="row property-listing" id="property-listing">
      <% if @properties.any? %>
      <%= render partial: 'properties', locals: {properties: @properties} %>
      <% else %>
      <div class="col-xs-12 msg-content text-center">
        <h3>No properties found</h3>
      </div>
      <% end %>
    </div>
    <% if @properties.any? %>
    <div class="row">
      <div class="col-xs-12 text-center">
        <% if @properties.current_page < @properties.num_pages %>
        <%= link_to properties_path, id: 'more_properties', class: 'btn btn-lg border-btn space-setting', remote: true do %><i class="fa fa-th" aria-hidden="true"></i> View More Offers
        <% end %>
        <%  end %>
      </div>
    </div>
    <%= paginate @properties %>
    <% end %>
  </div>
</section>