<%= render 'layouts/jumbtron' %>
<div ng:controller="PropertyCtrl">
    <section class="main-body without-search-feature">
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            <div class="box-shadow">
              <ol class="breadcrumb">
                <li><%= link_to 'Home',root_url %></li>
                <li><%= link_to 'Properties', properties_path, method: :get %></li>
                <li class="active"><%= @property.raw_title %></li>
                <% if current_user %>
                <li><%= link_to 'Edit', edit_property_path(@property), method: :get %></li>
                <% end %>
              </ol>
            </div>
          </div>
        </div>
        <div class="row property-details">
          <div class="col-xs-12">
            <h1><%= @property.raw_title %><% if @property.title.present? %>,<%= @property.city.capitalize %>, <%= @property.state.upcase %><% end %></h1>
            <% if @property.highlight.present? %>
            <div class="info-lable-text"><%= @property.highlight.html_safe %></div>
            <% end %>
          </div>
          <% @slides = @property.images.map { |item| item.to_json } %>
          <% @slides.unshift @property.image.to_json %>
          <span ng:init="slides = [<%= @slides.join(',') %>]"></span>
          <div class="col-md-6 col-sm-12 col-xs-12">
            <div id="property-images-slider" class="owl-theme">
              <uib-carousel active="active" interval="5000" no-wrap="false">
                <uib-slide ng-repeat="slide in slides track by $index" index="$index">
                  <img ng-src="{{slide.image.url}}">
                </uib-slide>
              </uib-carousel>
            </div>
            <% if @property.leased == '1' %>
              <span class="status-tag red">Leased</span>
            <% end %>
          </div>
          <div class="col-md-6 col-sm-12 col-xs-12">
            <ul class="nav nav-tabs property-info-tabs">
                <li class="active"><a data-toggle="tab" href="#details">Details</a></li>
              <% if @property.description.present? %>
                <li><a data-toggle="tab" href="#description">Description</a></li>
              <% end %>
            </ul>
            <div class="tab-content">
              <div id="details" class="tab-pane fade in active">
                <ul class="status-price-details">
                  <li>
                    <% if @property.status.present? %>
                    <label><span class="title">Status:</span> <span class="label label-success"><%= @property.raw_status %></span></label>
                    <% end %>
                    <% if @property.offer_price.present? && @property.offer_price > 0 %>
                    <label><span class="title">Price:</span> <span class="label label-warning">$<%= @property.raw_offer_price %>
                      <%= " / #{@property.offer_price_label}" if @property.offer_price_label.present? %></span></label>
                      <% end %>
                    </li>
                    <li>
                      <% if @property.rent.present? && @property.rent > 0 %>
                      <label><span class="title">Rent:</span> <span class="label label-info">$<%= @property.raw_rent %></span></label>
                      <% end %>
                      <% if @property.cash_flow.present? && @property.cash_flow > 0 %>
                      <label><span class="title">Cashflow:</span> <span class="label label-primary">$<%= @property.raw_cash_flow %></span></label>
                      <% end %>
                    </li>
                    <li>
                      <label><span class="title">Building Type:</span><%= @property.building_type.humanize.cap_each %></label>
                      <label><span class="title">Leased:</span><%= @property.leased.to_i.zero? ? 'No' : 'Yes'%></label>
                    </li>
                    <li>
                      <% if @property.year_built.present? %>
                      <label><span class="title">Year Built:</span><%= @property.year_built %></label>
                      <% end %>
                      <% if @property.square_ft.present? && @property.square_ft > 0 %>
                      <label><span class="title">Sq. Ft.:</span> <%= number_with_precision(@property.square_ft,precision: 0,delimiter: ',') %><sup>2ft</sup></label>
                      <% end %>
                    </li>
                    <li>
                      <% if @property.lot_size.present? && @property.lot_size > 0 %>
                      <label><span class="title">Lot Size:</span><%= number_with_precision(@property.lot_size,precision: 0,delimiter: ',') %><sup>2ft</sup></label>
                      <% end %>
                      <% if @property.bedrooms.present? && @property.bedrooms > 0 %>
                      <label><span class="title">Bedrooms:</span><%= number_with_precision(@property.bedrooms,precision: 1,delimiter: ',') %></label>
                      <% end %>
                    </li>
                    <li>
                      <% if @property.bathrooms.present? && @property.bathrooms > 0 %>
                      <label><span class="title">Bathrooms:</span><%= number_with_precision(@property.bathrooms,precision: 1,delimiter: ',') %></label>
                      <% end %>
                      <% if @property.garages.present? && @property.garages > 0 %>
                      <label><span class="title">Garages:</span><%= number_with_precision(@property.garages,precision: 1,delimiter: ',') %></label>
                      <% end %>
                    </li>
                  <% if @property.links.present? %>
                    <li class="links">
                      <% if @property.school_district.present? && false %>
                      <span><%= link_to "School District: #{@property.raw_school_district}","http://www.greatschools.org/search/search.page?q=#{@property.raw_school_district}&state=#{@property.state}",target: '_blank' %></span>
                      <% end %>
                      <% @property.links.each do |link| %>
                        <% if link.link.present? %>
                          <span><a href="<%= link.link %>" target="_blank"><%= link.title %></a></span>
                        <% end %>
                      <% end %>
                    </li>
                  <% end %>
                </ul>
              </div>
              <% if @property.description.present? %>
                <div id="description" class="tab-pane description-content">
                  <% if @property.description.present? %>
                    <%= @property.description.html_safe %>
                  <% end %>
                </div>
              <% end %>
              <div class="contact-link">
                <h4><i class="fa fa-phone" aria-hidden="true"></i> Call us at <%= PHONE_NUMBER %> (OR)</h4>
                <a href="#" data-toggle="modal" data-target="#property-contact" class="btn blue-btn"><i class="fa fa-envelope" aria-hidden="true"></i> Contact Us About this Property</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="map-graph-section">
        <div class="container">
          <div class="row map-graph-details">
            <div class="col-md-6 col-sm-12 col-xs-12">
              <h4><a href="https://maps.google.com?q=<%= @property.raw_address %>" target="_blank" class="block"><% if @property.title.present? %><%= @property.title %>
                <% end %>
                <%= @property.raw_address %> - View in Google Maps</a></h4>
                <google-map address="'<%= @property.raw_address %>'" zoom="9"></google-map>
              </div>
              <div class="col-md-6 col-sm-12 col-xs-12">
                <% if @property.chart.present? %>
                <span ng:init="chart = <%= @property.chart.to_json %>"></span>
                <span ng:init="setChart(chart)"></span>
                <div google-chart chart="myChartObject"></div>
                <div align="center" class="text-muted"><small>Loan Assumptions: 75% LTV, 30 year fixed, 4.25%</small></div>
                <% end %>
              </div>
            </div>
          </div>
        </div>
    </section>
  </div>
  <div ng:controller="TicketCtrl">
    <div id="property-contact" class="modal fade" role="dialog">
      <div class="modal-dialog property-contact-popup">
        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <span ng:init="inquiry.property = <%= PropertySerializer.new(@property,root: false).to_json %>"></span>
            <uib-alert ng:repeat="alert in alerts" type="{{alert.type}}">{{alert.message}}</uib-alert>
            <h4 class="modal-title"><i class="fa fa-envelope" aria-hidden="true"></i> Contact us about this property</h4>
          </div>
          <div class="modal-body">
            <form
            name="ticket_form"
            ng:submit="submitForm()"
            class="form-horizontal"
            novalidate
            ng:show="show_form"
            >
            <div class="form-group">
              <div class="col-xs-12">
                <i class="fa fa-user input-icons" aria-hidden="true"></i>
                <input
                type="text"
                class="form-control"
                ng:model="inquiry.name"
                placeholder="Your Name *"
                required
                />
              </div>
            </div>
            <div class="form-group">
              <div class="col-sm-6 col-xs-12 pad-right-0">
                <i class="fa fa-envelope input-icons" aria-hidden="true"></i>
                <input
                type="email"
                class="form-control"
                ng:model="inquiry.email"
                placeholder="Email"
                required
                />
              </div>
              <div class="col-sm-6 col-xs-12">
                <i class="fa fa-phone input-icons" aria-hidden="true"></i>
                <input
                type="tel"
                class="form-control"
                ng:model="inquiry.phone"
                placeholder="Phone #"
                required
                />
              </div>
            </div>
            <div class="form-group">
              <div class="col-xs-12">
                <i class="fa fa-pencil input-icons" aria-hidden="true"></i>
                <textarea
                rows="5"
                class="form-control"
                ng:model="inquiry.description"
                placeholder="Your Message *"
                required
                ></textarea>
              </div>
            </div>
            <div class="form-group last">
              <div class="col-xs-12">
                <div class="checkbox">
                  <label>
                    <input type="checkbox" ng:model="inquiry.newsletter" /><span class="cr"><i class="cr-icon fa fa-check"></i></span> Sign up for our Newsletter
                  </label>
                </div>
                <input
                type="submit"
                class="btn btn-success"
                value="Submit"
                ng:disabled="!ticket_form.$valid"
                ng:if="!loading"
                />
                <input
                type="submit"
                class="btn btn-warning"
                value="Submitting..."
                ng:disabled="true"
                ng:if="loading"
                />
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>