<%= render 'layouts/jumbtron' %>
<section class="main-body without-search-feature">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="box-shadow">
          <ol class="breadcrumb">
            <li><%= link_to 'Home', root_url %></li>
            <li class="active">
              Wilson Investment Properties
            </li>
          </ol>
        </div>
      </div>
    </div>
    <div class="row content-section">
      <div class="col-xs-12">
        <h1>关于Wilson Investment Properties( 威尔逊投资物业)</h1>
        <p><%= image_tag 'chinese-investor.jpg', alt: '', class: 'align-left img-responsive' %></p>
        <p>Wilson Investment Properties以数据为驱动的指标为精明的投资者提供高质量、交钥匙的住宅、多户家庭和商业地产。 Wilson Investment Properties一直是房地产投资业内的领先者。我们运用几十年的经验以最大限度地提高您的回报，同时在强大的城市选择高品质的房产以降低投资风险。</p>
        <h3>我们拥有五大成功策略：</h3>
        <ul>
          <li>了解城市</li>
          <li>关注现金流</li>
          <li>投资质量</li>
          <li>把握机会</li>
          <li>保持业务实践透明度</li>
        </ul>
        <h3>关于Tom K Wilson</h3>
        <p>Tom K. Wilson在70年代开始建立他的个人房地产投资组合。他开始时只是兼职投资，然后在硅谷的领先技术公司担任管理制造和工程的角色三十年后，他把他的业务和管理经验带到房地产并全职投资。Wilson先生购买并销售超过3500套单位和超过2.5亿美元的房地产，包括三个公寓改造项目、九个企业联合组织和八个多户式房产。他创立并拥有Wilson Investment Properties，该公司向投资者提供了500多种高现金流、高质量、重建和租赁的住宅物业。除了活跃于房地产协会，Wilson先生更是房地产投资的常客，他的坦率和能力十分受客户欢迎。作为他外展工作的一部分，Tom 为新投资者提供指导。他的每周广播节目Real Estate Radio Power Investing向听众提供广泛的房地产投资知识。</p>
        <h3>交钥匙的房屋租赁</h3>
        <p>许多投资者从单身家庭住宅开始，因为他们很容易理解和拥有高流动性。为了获得良好的现金流，租金应该接近总投资金额的每月1％。为了保持最小的维修工作和空缺，最好的住宅建于80年代之后并且应位于高就业增长和广泛基础的经济区域。我们所有的投资住宅都反映了这些标准，并由我们知识丰富的团队全力支持和服务。</p>
        <p><%= link_to '点击这里查看所有优惠', properties_path %></p>
        <h3>多户和商业企业联合组织</h3>
        <p>多户和商业企业联合组织汇集来自多个投资者的资金，用于共同的投资目标。我们使用这些资金收购大型商业、多户公寓楼、零售和工业产业。最多功能：</p>
        <ul>
          <li>从租金收入中每季度支付的优先股股利为8-10％</li>
          <li>三至七年持有期</li>
          <li>交易退出时利润共享</li>
          <li>平均年度回报率为17-25％</li>
        </ul>
        <p>优点包括：</p>
        <ul>
          <li>更多元化的资产类别</li>
          <li>完全被动投资</li>
          <li>更好的谈判</li>
          <li>更好的贷款</li>
          <li>购买更大更高质量的房产，只需5万美元</li>
          <li>专业管理，真正交钥匙</li>
          <li>更容易进入外部市场</li>
          <li>责任仅限于投资金额</li>
        </ul>
        <p>根据美国证券交易委员会的法律，我们可供大部分的企业联合组织仅给予我们网络中的客户使用。</p>
        <p><%= link_to '注册我们的网络和开始接收独家优惠的通讯', contact_us_path, method: :get %></li></p>
      </div>
    </div>
  </div>
</section>