<% set_meta_tags(title: t('seo.home.title'), description: t('seo.home.description'), image: asset_url(t('seo.image_4')), twitter: {image: asset_url(t('seo.image_4'))}, og: {image: asset_url(t('seo.image_4'))}) %>
<div id="background-video" class="background-video"></div>
<div class="container">
  <div class="row">
    <div class="col-xs-12 first-section ds-tbl text-center">
      <div class="ds-tbl-cel">
        <div class="box-content">
          <h1>Your Best Direct Source for Quality Investments</h1>
          <p>We have the experience to bring you the most productive, highest quality, income producing properties in the country</p>
        </div>
      </div>
    </div>
  </div>
</div>
<section class="white-bg content-section-row">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 paradise-valley-content">
        <h2 class="text-center">Paradise Valley, Assisted living, Fairfield, CA</h2>
        <div class="row">
          <div class="col-sm-6 col-xs-12">
            <iframe width="1366" height="768" src="https://www.youtube.com/embed/j0oFvRwYpXU" frameborder="0" allowfullscreen></iframe>
          </div>
          <div class="col-sm-6 col-xs-12">
            <ul>
              <li>3.2 acres of land to be entitled, built, operated, and sold</li>
              <li>110 units of assisted living</li>
              <li>30 units of memory care</li>
              <li>Located in Fairfield, CA</li>
              <li>Sponsor team with proven track record in Elder Care Facility design and construction in California</li>
              <li>27% projected average annual return</li>
              <li>25% projected IRR</li>
              <li>15% preferred annual cash on cash return</li>
              <li>4 - 5 year projected hold</li>
              <li>$2.75M total Phase 1 equity raise</li>
              <li>$100k minimum investment</li>
              <li>Open to accredited investors only</li>
            </ul>
          </div>
          <div class="col-xs-12 text-center mar-top-15">
            <a href="#" data-toggle="modal" data-target="#paradise-home-contact" class="btn border-btn btn-lg"><i class="fa fa-envelope" aria-hidden="true"></i> Contact Us</a>
          </div>
        </div>
        <hr>
      </div>
      <div class="col-xs-12">
        <h2 class="text-center">Multifamily and Commercial Real Estate Syndications</h2>
        <h4 class="text-center">High Quality, Real Estate Investment Opportunities</h4>
        <div class="row opportunities-content">
          <div class="col-sm-6 col-xs-12 text-center first">
            <iframe width="1366" height="768" src="https://www.youtube.com/embed/pA4_gFXYTEA" frameborder="0" allowfullscreen></iframe>
          </div>
          <div class="col-sm-6 col-xs-12 text-center">
            <iframe width="1366" height="768" src="https://www.youtube.com/embed/jbeGCN0QQOY" frameborder="0" allowfullscreen></iframe>
          </div>
          <div class="col-xs-12 text-center">
          <ul class="bullet-text"><li><span class="first">Better access to value deals</span></li><li><span>Purchase shares in a larger property than an investor could on his or her own</span></li><li><span>Liability risk is limited to original investment amount</span></li><li><span>Easier to achieve a diversified portfolio with distributed risks</span></li><li><span>Does not require day-to-day management or oversight by the investor</span></li>
          </ul>
            <div>
              <a href="tel:4088671867" class="btn border-btn btn-lg"><i class="fa fa-phone" aria-hidden="true"></i> Call: <%= PHONE_NUMBER %></a>
              <a href="#" data-toggle="modal" data-target="#home-contact" class="btn border-btn btn-lg"><i class="fa fa-envelope" aria-hidden="true"></i> Contact Us</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<% if @syndications.any? %>
  <section class="grey-bg bdr-top-btm property-section">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <h3 class="text-center">Investor Performance Track Record</h3>
          <div class="row report-card">
            <div id="syndication-slider" class="owl-carousel owl-theme">
              <% @syndications.each do |syndication| %>
              <div class="item">
                <div class="listing-box">
                  <div class="img-box"><%= image_tag 'loading.svg', 'data-src': syndication.image.thumb.url, alt: '', class: 'img-responsive' %>
                    <% if syndication.status.present? %><span class="status-tag top-setting <%= track_record_status_color(syndication.status) %>"><%= syndication.raw_status %></span><% end %>
                  </div>
                  <h3><%= link_to syndication.title.truncate(Settings.truncate.syndication.title), javascript_void, value: syndication.slug, class: 'open_track_record', id: 'syndication_title' %></h3>
                  <ul class="list-unstyled">
                    <% if syndication.close_date.present? %><li><span class="left"><b>Close Date:</b></span><span class="right"><%= syndication.close_date.strftime('%d %b %Y') %></span></li><% end %>
                    <% if syndication.purchase_price.present? %><li><span class="left"><b>Purchase Price + Cap Ex:</b></span><span class="right"><%= raw_price(syndication.purchase_price) %></span></li><% end %>
                    <% if syndication.raise_amount.present? %><li><span class="left"><b>Raise Amount:</b></span><span class="right"><%= raw_price(syndication.raise_amount) %></span></li><% end %>
                    <% if syndication.location.present? %><li><b>Location:</b> <%= syndication.location %></li><% end %>
                  </ul>
                  <div class="button-links-row">
                    <%= link_to 'Financial Details', javascript_void, value: syndication.slug, class: 'btn border-btn open_track_record', id: 'learn_more' %>
                    <% if current_user %>
                    <%= link_to 'Edit', edit_syndication_path(syndication), class: 'btn border-btn' %>
                    <% end %>
                  </div>
                </div>
              </div>
              <% end %>
            </div>
          </div>
          <div class="text-center">
            <%= link_to syndications_path, class: 'btn border-btn btn-lg', title: 'View All Track Record' do %><i class="fa fa-th" aria-hidden="true"></i>View All Track Record<% end %>
          </div>
        </div>
      </div>
    </div>
  </section>
  <div id="report-card-details" class="modal fade" role="dialog"></div>
<% end %>
<% if @properties.any? %>
  <section class="white-bg property-section">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 feature-property-listing">
          <h3 class="text-center">Featured Investment Properties</h3>
          <p class="tag-line-text">Wilson Investment Properties has provided over 600 rental homes to investors</p>
          <div id="featured-properties-slider" class="owl-carousel owl-theme">
            <% @properties.each do |property| %>
            <div class="item">
              <div class="propery-box clickable_div">
                <div class="img-box">
                  <%= link_to property_path(property) do %>
                    <%= image_tag 'loading.svg', 'data-src': property.image.url, alt: "Property Image - #{property.raw_title}", class: 'img-responsive' %>
                  <% end %>
                  <span class="status-tag top-setting <%= status_color(property.status) %>"><%= property.raw_status %></span>
                  <% if property.leased == 'yes' %>
                    <span class="status-tag-right blue">Leased</span>
                  <% end %>
                </div>
                <h4><%= link_to property.raw_title.truncate(Settings.truncate.property.title), property_path(property) %></h4>
                <ul class="info">
                  <li class="price">
                    <span class="hidden">Price:</span>
                    $<%= number_with_precision(property.offer_price,precision: 2,delimiter: ',') %>
                  </li>
                  <li class="person">
                    <%= property.raw_building_type %>
                  </li>
                </ul>
                <ul class="price-flow">
                  <li>Cash Flow: <span class="blue-text">
                    <%= validate_price_field(property.cash_flow) %>
                    </span>
                  </li>
                  <li>Rent: <span class="blue-text">
                    <%= validate_price_field(property.rent) %>
                    </span>
                  </li>
                </ul>
                <ul class="numbers-details">
                  <li>
                    <span data-toggle="tooltip" data-placement="top" title="Bedroom"><i class="fa fa-bed" aria-hidden="true"></i><span class="hidden">Bedrooms:</span><%= validate_listing_field(property.bedrooms) %></span>
                  </li>
                  <li>
                    <span data-toggle="tooltip" data-placement="top" title="Bathroom"><i class="fa fa-bath" aria-hidden="true"></i><span class="hidden">Bathrooms:</span><%= validate_listing_field(property.bathrooms) %></span>
                  </li>
                  <li>
                    <span data-toggle="tooltip" data-placement="top" title="Garage"><i class="fa fa-car" aria-hidden="true"></i><span class="hidden">Garages:</span><%= validate_listing_field(property.garages) %></span>
                  </li>
                </ul>
              </div>
            </div>
            <% end %>
          </div>
          <div class="text-center">
            <%= link_to properties_path, class: 'btn border-btn btn-lg', title: 'View All Investment Properties' do %><i class="fa fa-th" aria-hidden="true"></i>View More Offers<% end %>
          </div>
        </div>
      </div>
    </div>
  </section>
<% end %>
<section class="<%= section_bg_class(@properties.any?, 'magazine') %> magazine-section">
  <div class="container">
   <div class="row">
    <div class="col-sm-12 text-center">
     <h3>Magazine Features</h3>
     <div class="row imgs">
      <div class="col-sm-3 col-xs-12">
        <%= link_to blogs_path, target: '_blank' do %>
          <%= image_tag 'loading.svg', 'data-src': asset_url('REI-Voice-Cover-July-2015-1.jpg'), alt: 'REI Voice Magazine Cover (July 2015)', class: 'img-responsive' %>
        <% end %>
      </div>
      <div class="col-sm-3 col-xs-12">
        <%= link_to blogs_path, target: '_blank' do %>
          <%= image_tag 'loading.svg', 'data-src': asset_url('Realty_Insights_July-2016_Cover_Tom_Summit.jpg'), alt: 'Realty Insights Magazine Cover (Summer 2016)', class: 'img-responsive' %>
        <% end %>
      </div>
      <div class="col-sm-3 col-xs-12">
        <%= link_to 'https://drive.google.com/open?id=0B5kXcEhpEwUwMUxaZUVvN1JNcXc', target: '_blank' do %>
          <%= image_tag 'loading.svg', 'data-src': asset_url('REI-Voice-Cover-July-2015-2.jpg'), alt: 'REI Voice Magazine Cover (July 2015)', class: 'img-responsive' %>
        <% end %>
      </div>
      <div class="col-sm-3 col-xs-12">
        <%= link_to 'https://drive.google.com/open?id=0B5kXcEhpEwUwMUxaZUVvN1JNcXc', target: '_blank' do %>
          <%= image_tag 'loading.svg', 'data-src': asset_url('realty-411-magazine-cover.jpg'), alt: 'Realty 411 Magazine Cover', class: 'img-responsive last' %>
        <% end %>
      </div>
     </div>
    </div>
   </div>
  </div>
</section>
  <% if !current_user %>
    <section class="<%= section_bg_class(@properties.any?, 'feedback') %> feedback-section">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 text-center">
            <h3 class="text-center">Testimonials</h3>
            <div id="testimonials-slider" class="owl-carousel owl-theme">
              <% @testimonies.each do |testimony| %>
              <div class = "item">
                <p class="comment"><%= testimony.quote %></p>
                <p class="user">- <%= testimony.author %></p>
              </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </section>
  <% else %>
    <section class="<%= section_bg_class(@properties.any?, 'feedback') %> feedback-table-section">
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            <h3 class="text-center">Testimonials</h3>
            <div class="table-responsive">
              <div ng:controller="TestimoniesCtrl">
                <table class="table table-condensed table-striped">
                  <tr>
                    <td><b>Quote</b></td>
                    <td><b>Author</b></td>
                    <td align="center"><b>Order</b></td>
                    <td align="right">
                      <button type="button" class="btn blue-btn btn-sm" ng:click="saveOrder()" ng:disabled="saving.order">{{saving.order || 'Save Order'}}</button>
                    </td>
                  </tr>
                  <tr ng:repeat="testimony in testimonies">
                    <td class="vmiddle" ng:show="!testimony.edit">{{testimony.quote}}</td>
                    <td class="vmiddle" ng:show="!testimony.edit">{{testimony.author}}</td>
                    <td class="vmiddle" align="center" ng:show="!testimony.edit">
                      <div><a href="" ng:click="moveTestimony(testimony,$index,$index-1)"><%= icon 'chevron-up' %></a></div>
                      <div><a href="" ng:click="moveTestimony(testimony,$index,$index+1)"><%= icon 'chevron-down' %></a></div>
                    </td>
                    <td ng:show="!testimony.edit" align="right">
                      <button type="button" class="btn btn-success btn-sm" ng:click="editTestimony($index)" title="Edit"><i class="fa fa-pencil" aria-hidden="true"></i></button>
                      <button type="button" class="btn btn-danger btn-sm" ng:click="deleteTestimony(testimony,$index)" title="Delete"><i class="fa fa-trash" aria-hidden="true"></i></button>
                    </td>
                    <td class="vmiddle" ng:show="testimony.edit">
                      <input type="text" class="form-control" ng:model="testimony.quote" placeholder="">
                    </td>
                    <td class="vmiddle" ng:show="testimony.edit">
                      <input type="text" class="form-control" ng:model="testimony.author" placeholder="">
                    </td>
                    <td class="vmiddle" align="center" ng:show="testimony.edit">
                      <div><a href="" ng:click="moveTestimony(testimony,$index,$index-1)"><%= icon 'chevron-up' %></a></div>
                      <div><a href="" ng:click="moveTestimony(testimony,$index,$index+1)"><%= icon 'chevron-down' %></a></div>
                    </td>
                    <td ng:show="testimony.edit" align="right">
                      <button type="button" class="btn btn-success btn-sm" ng:click="saveTestimony(testimony)" ng:disabled="saving[testimony.id]" title="Save">{{saving[testimony.id] || ''}}<i class="fa fa-floppy-o" aria-hidden="true"></i></button>
                      <button type="button" class="btn btn-danger btn-sm" ng:click="cancelEditing($index)"><i class="fa fa-times" aria-hidden="true" title="Cancel"></i></button>
                    </td>
                  </tr>
                  <tr>
                    <td class="vmiddle">
                      <input type="text" class="form-control" ng:model="newTestimony.quote" placeholder="Quote">
                    </td>
                    <td class="vmiddle" colspan="2">
                      <input type="text" class="form-control" ng:model="newTestimony.author" placeholder="Author">
                    </td>
                    <td align="right">
                      <button type="button" class="btn blue-btn btn-sm" ng:click="createTestimony(newTestimony)" ng:show="!saving.new" title="Create"><%= icon 'plus' %></button>
                      <button type="button" class="btn btn-default btn-sm" ng:show="saving.new" ng:disabled="true">{{saving.new}}</button>
                    </td>
                  </tr>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  <% end %>
<section class="<%= section_bg_class(@properties.any?, 'company-content') %> company-content">
<div class="container">
 <p>Whether you are an experienced real estate investor or just starting out, knowing where to find real estate investment properties is one of an investor’s biggest challenges. Online classifieds offer an abundance of investment properties for sale that have questionable quality and are rarely successful. Rather than pursue these investments alone, we are here to ease the search process.</p>
  <p class="mar-btm-10">We serve our clients through each step of selecting the best property investments by:</p>
  <ul>
    <li>Identifying and selecting profitable properties</li>
    <li>Providing guidance through all phases of acquisition</li>
    <li>Managing all aspects of the property after the purchase</li>
    <li>Assisting in the final sale of the property</li>
  </ul>
  <p>We offer multiple rental properties in Houston and Dallas / Fort Worth, Texas, ranked amongst the top areas in the U.S. in real estate investment properties. Residential, multifamily, and commercial real estate investing can be very lucrative. Even on a low budget, there are other investment opportunities that produce the same benefits that come with multifamily and commercial real estate investing, while minimizing the typical risks and hassles associated with it.</p>
  <p>Investors are attracted to real estate syndications, or crowdfunding, because of the accessibility of deal flow. While searching through hundreds of properties is implausible for a typical investor, specialized companies have the resources to scan the U.S. market and pick out the winners. Commercial real estate syndication companies provide investors with access to this deal flow and eliminate the hassles caused by property management. Real estate investments have the potential to deliver high profits and are a great way to generate wealth.  Selecting a real estate provider with a proven track record reduces the risks in this volatile market.</p>
 </div>
</section>
<%= render 'contact_us' %>
<script type="text/javascript">
  $(window).load(function(){$('img').unveil();});
  $(document).ready(function(){
    setTimeout(function(){
        $('#newsletter-form').show('500');
    }, 1000);
    setTimeout(function(){
        $('#newsletter-form').hide('500');
    }, 6000);
    var auto_play_properties = ($('#featured-properties-slider .item').length == 1) ? false : 6000;
    var auto_play_testimonials = ($('#testimonials-slider .item').length == 1) ? false : 6000;
    var auto_play_syndications = ($('#syndication-slider .item').length == 1) ? false : 6000;
    $('#featured-properties-slider').owlCarousel({autoPlay:auto_play_properties,items:4 ,itemsDesktop:[1199,3],itemsDesktopSmall:[991,3],itemsTablet:[767,2],itemsMobile:[479,1],transitionStyle:'fade'});
    $('#syndication-slider').owlCarousel({autoPlay:auto_play_syndications,items:4 ,itemsDesktop:[1199,3],itemsDesktopSmall:[991,3],itemsTablet:[767,2],itemsMobile:[479,1],transitionStyle:'fade'});
    $('#testimonials-slider').owlCarousel({autoPlay:auto_play_testimonials,items:1,itemsDesktop:[1199,1],itemsDesktopSmall:[991,1],itemsTablet:[767,1],itemsMobile:[479,1],transitionStyle:'fade'});
  });
  $(function(){
    $('#background-video').YTPlayer({
      fitToBackground:true,
      videoId:'<%= HOMEPAGE_VIDEO_ID %>',
      pauseOnScroll:false
    });
  })
</script>
