<%= render 'layouts/jumbtron' %>
<section class="main-body without-search-feature">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="box-shadow">
          <ol class="breadcrumb">
            <li><%= link_to 'Home', root_url %></li>
            <li class="active">
              Wilson Investment Properties
            </li>
          </ol>
        </div>
      </div>
    </div>
    <div class="row content-section chinese-content">
      <div class="col-xs-12">
        <h1>美国威尔逊物业投资公司</h1>
        <p>美国威尔逊物业投资公司 (Wilson Investment Properties, Inc.) 坐落于加州的硅谷， 是全国首屈-指的物业投资供应商。 威尔逊物业投资公司依据数据指标为精明的投资者提供高回报的一站式 (即可立即入住)、 多业主的住宅，商业及工业物产。 我们积累了几十年的房地产投资经验， 能够最大程度地提高投资回报。 我们通常在物业市场活跃的城市， 如德州的达拉斯， 选择高品质地产， 从而降低风险。</p>
        <div class="row mar-btm-30 mar-top-30">
          <div class="col-sm-5 col-xs-12"><%= image_tag 'chinese_investor_1.jpg', alt: '', class: 'img-responsive' %></div>
          <div class="col-sm-7 col-xs-12 second-img"><%= image_tag 'chinese_investor_2.jpg', alt: '', class: 'img-responsive' %></div>
        </div>
        <h3>汤姆·威尔逊</h3>
        <p>早在70年代， 威尔逊先生就开始建立他个人的房地产投资组合。 开始是兼职， 但在几家著名硅谷半导体公司从事制造和工程管理30年后， 他全职投入房地产投资业务， 并充分利用他在工业界所积累的业务和管理经验， 投资回报斐然。 迄今为止他一共购买并销售了超过3500套房地产和物业， 总价值超过2.5亿美元， 其中包括3个公寓改造项目， 9个众筹物业投资和8个公寓式房产。 他创立并拥有威尔逊物业投资公司 (Wilson Investment Properties)， 该公司向投资者提供了500多个高现金流， 高质量， 重新装修后再租赁的住宅物业。 他在房地产协会中非常活跃， 在房地产投资俱乐部的活动中经常进行主题演讲， 威尔逊先生的坦率和才能使他成为听众的最爱。 作为推广工作的一部分， 他经常为新投资者提供指导。 他每周都在旧金山湾区的房地产广播节目中向听众提供深度的房地产投资教育信息。</p>
        <h3>美国威尔逊物业投资公司的 5大成功策略 ：</h3>
        <ul>
          <li>充分了解房地产投资的地域情况</li>
          <li>非常关注现金流</li>
          <li>只投资高质量的房地产物业</li>
          <li>注重将房地产投资风险降到最低</li>
          <li>始终对客户保持业务实践的透明度</li>
        </ul>
        <p>一站式房屋租赁</p>
        <p>国际投资者特别喜欢威尔逊物业投资公司， 因为我们提供真正的一站式 (即可立即入住) 产品。 我们的高质量投资房屋建成时间都不早于 1980年代，  并且都位于高就业和经济活跃的地区。 这些物业都是新近装修的， 其租赁和物业管理都已经到位。 即使有些投资者愿意管理自己的财产， 我们也向他们提供这样的选择。 为了得到良好的现金流， 月租金应该接近于总投资金额的 1％。 达拉斯是我们最喜欢的市场， 它是全国经济最为活跃的经济体之一， 其房地产的价格仍然较低， 而且投资回报率比较高。 许多投资者从独立的家庭住宅开始， 因为这些房地产的价值容易估算， 流动性也比较好。  我们的这些投资项目都得到我们知识渊博的团队的全力支持， 服务非常到位。</p>
        <p><%= link_to '[点击这里查看所有优惠项目]', properties_path %></p>
        <h3>多业主住宅及商业众筹</h3>
        <p>商业众筹物产企业汇集来自多个投资者的资金， 用于共同的投资目标。 我们使用这些资金收购大型商业、 多单元住宅楼、 零售商铺和工业物业， 具有如下特点 :</p>
        <ul>
          <li>投资的年股息为 8-10%， 来自于租金收入， 每个季度都有一次分红</li>
          <li>物业持有期为三至七年</li>
          <li>交易退出时利润共享</li>
          <li>平均年度回报率为 17-25％</li>
        </ul>
        <p>这些物产投资的优点包括 ：</p>
        <ul>
          <li>多元化的资产类别</li>
          <li>完全的被动式投资</li>
          <li>更好的谈判结果</li>
          <li>更好的贷款</li>
          <li>只需5万美元就可参与购买更大更高质量的房产</li>
          <li>专业管理， 真正的一站式可立即入住物产</li>
          <li>使客户更容易进入不熟悉的市场</li>
          <li>责任仅限于投资的金额</li>
        </ul>
        <p>根据美国证券交易委员会的法律， 我们的众筹物产只能提供给我们自己的关系客户。</p>
        <p><%= link_to '[注册加入我们的客户网络并开始接收独家的优惠信息]', contact_us_path, method: :get %></a></p>
        <p><b>** 注意： 必须持有美国的纳税人税号， 才能成为我们的投资客户。</b></p>
      </div>
    </div>
  </div>
</section>