<div id="background-video" class="background-video"></div>
<div class="container">
  <div class="row">
    <div class="col-xs-12 first-section ds-tbl text-center">
      <div class="ds-tbl-cel">
        <div class="box-content">
          <h1>Your Best Direct Source for Quality Investments</h1>
          <p>We have the experience to bring you the most productive, highest quality, income producing properties in the country</p>
        </div>
      </div>
    </div>
  </div>
</div>

<section class="white-bg content-section-row">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h2 class="text-center">Multi-Family and Commercial Syndications</h2>
        <h4 class="text-center">High Quality, Investment Opportunities</h4>
        <div class="row opportunities-content">
          <div class="col-md-8 col-md-offset-2 col-sm-12 col-xs-12 text-center">
            <iframe width="1366" height="768" src="https://www.youtube.com/embed/bQ-VFrY5ZGg" frameborder="0" allowfullscreen></iframe>
          </div>
          <div class="col-xs-12 text-center">
           <p class="bullet-text mar-top-30"><span class="first">Better access to value deals</span><span>Purchase shares in a larger property than an investor could on his or her own</span><span>Liability risk is limited to original investment amount</span><span>Easier to achieve a diversified portfolio with distributed risks</span><span>Does not require day-to-day management or oversight by the investor</span></p>
            <div>
              <a href="tel:4088671867" class="btn border-btn btn-lg"><i class="fa fa-phone" aria-hidden="true"></i> Call: <%= PHONE_NUMBER %></a>
              <a href="#" data-toggle="modal" data-target="#home-contact" class="btn border-btn btn-lg"><i class="fa fa-envelope" aria-hidden="true"></i> Contact Us</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="property-section">
  <span ng:init="properties = <%= @properties.to_json %>"></span>
  <div class="container">
    <div class="row">
      <div class="col-xs-12 feature-property-listing">
        <div ng:controller="FeaturedCtrl">
          <h3 class="text-center">Featured Properties</h3>
          <%# if !current_user %>
          <div id="featured-properties-slider" class="owl-carousel owl-theme">
            <% @properties.each do |property| %>
            <div class="item">
              <div class="propery-box">
                <div class="img-box">
                  <%= link_to property_path(property) do %>
                  <%= image_tag property.image.url, class: 'img-responsive'%>
                  <% end %>
                  <span class="status-tag top-setting <%= status_color(property.status) %>"><%= property.raw_status %></span>
                  <% if property.leased == '1' %>
                    <span class="status-tag-right blue">Leased</span>
                  <% end %>
                </div>
                <h4><%= link_to property.raw_title.truncate(Settings.truncate.property.title), property_path(property) %></h4>
                <ul class="info">
                  <li class="price">
                    $<%= number_with_precision(property.offer_price,precision: 2,delimiter: ',') %>
                  </li>
                  <li class="person">
                    <%= property.raw_building_type %>
                  </li>
                </ul>
                <ul class="price-flow">
                  <li>Cash Flow: <span class="blue-text">
                    <%= property.raw_cash_flow && property.cash_flow > 0 ? "$#{ property.raw_cash_flow}" : 'N/A' %>
                    </span>
                  </li>
                  <li>Rent: <span class="blue-text">
                    <%= property.raw_rent && property.rent > 0 ? "$#{property.raw_rent}" : 'N/A' %>
                  </li>
                </ul>
                <ul class="numbers-details">
                  <li>
                    <span data-toggle="tooltip" data-placement="top" title="Bedroom"><i class="fa fa-bed" aria-hidden="true"></i><%= property.bedrooms && property.bedrooms > 0 ? property.bedrooms.to_i : 'N/A' %></span>
                  </li>
                  <li>
                    <span data-toggle="tooltip" data-placement="top" title="Bathroom"><i class="fa fa-bath" aria-hidden="true"></i>
                      <%= property.bathrooms && property.bathrooms > 0 ? property.bathrooms.to_i : 'N/A' %></span>
                  </li>
                  <li>
                    <span data-toggle="tooltip" data-placement="top" title="Garage"><i class="fa fa-car" aria-hidden="true"></i><%= property.garages && property.garages > 0 ? property.garages.to_i : 'N/A' %></span>
                  </li>
                </ul>
              </div>
            </div>
            <% end %>
          </div>
          <%# else %>
         <!--  <span ng:init="properties = <%= @properties.to_json %>"></span>
            <div class="admin-body">  
              <div class="col-sm-4 col-xs-12 mar-btm-30" ng:repeat="property in properties">
                <div class="propery-box admin">
                  <div class="img-box">
                    <a href="<%= properties_path %>/{{property.slug}}"> <img ng:src="{{property.image.image.url}}" class="img-responsive" alt=""> </a>
                  </div>
                  <h4><a href="<%= properties_path %>/{{property.slug}}">{{property.raw_title | limitTo: 40}}{{property.raw_title.length > 40 ? '...' : ''}}</a></h4>
                  <ul class="info">
                    <li class="price">
                      ${{property.raw_offer_price}}
                    </li>
                    <li class="person">
                      {{property.raw_building_type}}
                    </li>
                  </ul>
                  <ul class="price-flow">
                    <li>
                      Cash Flow: 
                      <span class="blue-text">{{property.raw_cash_flow && property.cash_flow > 0 ? '$'+property.raw_cash_flow : 'N/A'}}</span>
                    </li>
                    <li>Rent: 
                      <span class="blue-text">{{ property.raw_rent && property.rent > 0 ? '$'+property.raw_rent : 'N/A'}}</span>
                    </li>
                  </ul>
                  <ul class="numbers-details">
                    <li>
                      <span data-toggle="tooltip" data-placement="top" title="Bedroom"><i class="fa fa-bed" aria-hidden="true"></i>{{ property.bedrooms && property.bedrooms > 0 ? (property.bedrooms | number: 0) : 'N/A' }}</span>
                    </li>
                    <li>
                      <span data-toggle="tooltip" data-placement="top" title="Bathroom"><i class="fa fa-bath" aria-hidden="true"></i>{{ property.bathrooms && property.bathrooms > 0 ? (property.bathrooms | number: 0) : 'N/A' }}</span>
                    </li>
                    <li>
                      <span data-toggle="tooltip" data-placement="top" title="Garage"><i class="fa fa-car" aria-hidden="true"></i>{{ property.garages && property.garages > 0 ? (property.garages | number: 0) : 'N/A' }}</span>
                    </li>
                  </ul>
                  <span ng:class="getStatusClass(property.status)" ng:if="property.raw_status">{{property.raw_status}}</span>
                  <span class="status-tag-right blue" ng:if="property.leased == 1">Leased</span>
                  <div class="well" align="center" ng:if="mode.edit">
                    <button class="btn btn-default btn-sm" ng:click="moveProperty(property,$index,$index-1)">
                      <%= icon 'chevron-left' %>
                    </button>
                    <button class="btn btn-default btn-sm" ng:click="moveProperty(property,$index,$index+1)">
                      <%= icon 'chevron-right' %>
                    </button>
                  </div>
                </div>
              </div>
            <div class="clearfix"></div>
            <ul class="pager">
              <li ng:show="!mode.edit">
                <a href="" ng:click="mode = {edit: true}"><i class="fa fa-sort" aria-hidden="true"></i> Re-Order</a>
              </li>
              <li ng:show="mode.edit && !loading && changed">
                <a href="" ng:click="saveOrder()"><i class="fa fa-floppy-o" aria-hidden="true"></i> Save</a>
              </li>
              <li ng:show="loading">
                <a href="" ng:click=""><i class="fa fa-ellipsis-h" aria-hidden="true"></i> Saving</a>
              </li>
              <li ng:show="!changed && mode.edit">
                <a href="" ng:click="mode = {}"><i class="fa fa-times" aria-hidden="true"></i> Cancel</a>
              </li>
            </ul>
            <%# end %>
          </div>   -->
        </div>
        <div class="text-center">
          <%= link_to properties_path, class: 'btn border-btn btn-lg' do %><i class="fa fa-th" aria-hidden="true"></i>View More Offers<% end %>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="white-bg magazine-section">
  <div class="container">
   <div class="row">
    <div class="col-sm-12 text-center">
     <h3>Magazine Features</h3>
     <div class="row">
      <div class="col-sm-3 col-xs-12">
        <%= image_tag "REI-Voice-Cover-July-2015-1.jpg", alt: "REI Voice Magazine Cover (July 2015)", class: "img-responsive"%>
      </div>
      <div class="col-sm-3 col-xs-12">
        <%= image_tag "Realty_Insights_July-2016_Cover_Tom_Summit.jpg", alt: "Realty Insights Magazine Cover (July 2015)", class: "img-responsive"%>
      </div>
      <div class="col-sm-3 col-xs-12">
        <%= image_tag "REI-Voice-Cover-July-2015-2.jpg", alt: "Realty Insights Magazine Cover (July 2015)", class: "img-responsive"%>
      </div>
      <div class="col-sm-3 col-xs-12">
        <%= image_tag "realty-411-magazine-cover.jpg", alt: "Realty 411 Magazine Cover", class: "img-responsive last"%>
      </div>
     </div>
    </div>
   </div>
  </div>
</section>
  <% if !current_user %>
    <section class="white-bg feedback-section">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 text-center">
            <div id="testimonials-slider" class="owl-carousel owl-theme">
              <% @testimonies.each do |testimony| %>
              <div class = "item">
                <p class="comment"><%= testimony.quote %></p>
                <p class="user">- <%= testimony.author %></p>
              </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </section>
  <% else %>
    <section class="white-bg feedback-table-section">
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            <h3 class="text-center">Testimonies</h3>
            <div class="table-responsive">
              <div ng:controller="TestimoniesCtrl">
                <table class="table table-condensed table-striped">
                  <tr>
                    <td><b>Quote</b></td>
                    <td><b>Author</b></td>
                    <td align="center"><b>Order</b></td>
                    <td align="right">
                      <button type="button" class="btn blue-btn btn-sm" ng:click="saveOrder()" ng:disabled="saving.order">{{saving.order || 'Save Order'}}</button>
                    </td>
                  </tr>
                  <tr ng:repeat="testimony in testimonies">
                    <td class="vmiddle" ng:show="!testimony.edit">{{testimony.quote}}</td>
                    <td class="vmiddle" ng:show="!testimony.edit">{{testimony.author}}</td>
                    <td class="vmiddle" align="center" ng:show="!testimony.edit">
                      <div><a href="" ng:click="moveTestimony(testimony,$index,$index-1)"><%= icon 'chevron-up' %></a></div>
                      <div><a href="" ng:click="moveTestimony(testimony,$index,$index+1)"><%= icon 'chevron-down' %></a></div>
                    </td>
                    <td ng:show="!testimony.edit" align="right">
                      <button type="button" class="btn btn-success btn-sm" ng:click="editTestimony($index)" title="Edit"><i class="fa fa-pencil" aria-hidden="true"></i></button>
                      <button type="button" class="btn btn-danger btn-sm" ng:click="deleteTestimony(testimony,$index)" title="Delete"><i class="fa fa-trash" aria-hidden="true"></i></button>
                    </td>
                    <td class="vmiddle" ng:show="testimony.edit">
                      <input type="text" class="form-control" ng:model="testimony.quote" placeholder="">
                    </td>
                    <td class="vmiddle" ng:show="testimony.edit">
                      <input type="text" class="form-control" ng:model="testimony.author" placeholder="">
                    </td>
                    <td class="vmiddle" align="center" ng:show="testimony.edit">
                      <div><a href="" ng:click="moveTestimony(testimony,$index,$index-1)"><%= icon 'chevron-up' %></a></div>
                      <div><a href="" ng:click="moveTestimony(testimony,$index,$index+1)"><%= icon 'chevron-down' %></a></div>
                    </td>
                    <td ng:show="testimony.edit" align="right">
                      <button type="button" class="btn btn-success btn-sm" ng:click="saveTestimony(testimony)" ng:disabled="saving[testimony.id]" title="Save">{{saving[testimony.id] || ''}}<i class="fa fa-floppy-o" aria-hidden="true"></i></button>
                      <button type="button" class="btn btn-danger btn-sm" ng:click="cancelEditing($index)"><i class="fa fa-times" aria-hidden="true" title="Cancel"></i></button>
                    </td>
                  </tr>
                  <tr>
                    <td class="vmiddle">
                      <input type="text" class="form-control" ng:model="newTestimony.quote" placeholder="Quote">
                    </td>
                    <td class="vmiddle" colspan="2">
                      <input type="text" class="form-control" ng:model="newTestimony.author" placeholder="Author">
                    </td>
                    <td align="right">
                      <button type="button" class="btn blue-btn btn-sm" ng:click="createTestimony(newTestimony)" ng:show="!saving.new" title="Create"><%= icon 'plus' %></button>
                      <button type="button" class="btn btn-default btn-sm" ng:show="saving.new" ng:disabled="true">{{saving.new}}</button>
                    </td>
                  </tr>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  <% end %>
<%= render 'contact_us' %>
<script type="text/javascript">
  $(document).ready(function(){
    setTimeout(function(){
        $('#newsletter-form').show('500');
    }, 1000);
    setTimeout(function(){
        $('#newsletter-form').hide('500');
    }, 6000);

    var auto_play = ($('.item').length == 1) ? false : 6000;
    $("#featured-properties-slider").owlCarousel({autoPlay:auto_play,items:4 ,itemsDesktop:[1199,3],itemsDesktopSmall:[991,3],itemsTablet:[767,2],itemsMobile:[479,1],transitionStyle:"fade"});
    $("#testimonials-slider").owlCarousel({autoPlay:auto_play,items:1,itemsDesktop:[1199,1],itemsDesktopSmall:[991,1],itemsTablet:[767,1],itemsMobile:[479,1],transitionStyle:"fade"});
  });
  $(function(){
    $('#background-video').YTPlayer({
      fitToBackground:true,
      videoId:'<%= HOMEPAGE_VIDEO_ID %>',
      pauseOnScroll:false
    });
  })
</script>