<% set_meta_tags(title: t('seo.event.title'), description: t('seo.event.description'), image: asset_url(t('seo.image_3')), twitter: {image: asset_url(t('seo.image_3'))}, og: {image: asset_url(t('seo.image_3'))}) %>
<%= render 'layouts/jumbtron' %>
<section class="main-body without-search-feature">
  <div class="container">
    <div class="row content-section">
      <div class="col-xs-12">
        <div class="box-shadow">
          <ol class="breadcrumb">
            <li><%= link_to 'Home', root_url %></li>
            <li class="active">Events</li>
          </ol>
        </div>
      </div>
      <div class="col-xs-12">
        <h1>Events for Investing in Real Estate</h1>
        <div id='event-listing'>
          <% if @events.present? %>
            <%= render partial: 'events', locals: {events: @events} %>
          <% else %>
            <h3 class="text-muted">No upcoming events</h3>
          <% end %>
        </div>
        <% if @next_page.present? %>
          <div class="text-center pad-btm-5 load_more_events">
            <%= hidden_field_tag 'next_page', @next_page %>
            <%= button_tag id: 'load_more_events', class: 'btn btn-lg border-btn space-setting' do %><i class="fa fa-th" aria-hidden="true"></i> Load More<% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</section>