<ol class="breadcrumb">
  <li><%= link_to 'Home',root_url %></li>
  <li><%= link_to 'Resources',jassets_url %></li>
  <li class="active"><%= @jasset.title %></li>
  <li class="active">Edit</li>
</ol>

<div>
  <h1>Editing <%= @jasset.title %></h1>
</div>

<hr>

<%= render 'form' %>