<% set_meta_tags(title: t('seo.resource.index.title'), description: t('seo.resource.index.description'), image: asset_url(t('seo.image_1')), twitter: {image: asset_url(t('seo.image_1'))}, og: {image: asset_url(t('seo.image_1'))}) %>
<%= render 'layouts/jumbtron' %>
<section class="main-body without-search-feature">
  <div class="container">
    <div class="row content-section">
      <div class="col-xs-12">
        <div class="box-shadow">
          <ol class="breadcrumb">
            <li><%= link_to 'Home',root_url %></li>
            <li class="active">Resources</li>
          </ol>
        </div>
      </div>
      <div class="col-xs-12">
        <h1>Resources of Real Estate Investment Properties</h1>
        <div class="sort-row">
          <span class="sort-span mar-right-15">
            <h5>Sort By:</h5>
            <%= select_tag :link_name, options_for_select(@resources), {title: 'Type', 'data-actions-box': true, multiple: true, 'data-selected-text-format': 'count > 4', class: 'selectpicker'} %>
          </span>
          <span class="sort-span mar-right-15">
            <%= select_tag :order_date, options_for_select(@order_by_resource_date.map{ |k,v| [v, k] }), {include_blank: 'Date', class: 'selectpicker'} %>
          </span>
          <% if current_user %>
          <span class="btn-span"><%= link_to new_jasset_path, class: 'btn blue-btn' do %><i class="fa fa-plus" aria-hidden="true"></i> New<% end %>
          </span>
          <% end %>
        </div>
        <% if @jassets.present? %>
          <div class="list-group mar-top-15" id='jasset-listing'>
            <%= render partial: 'jassets', locals: {jassets: @jassets} %>
          </div>
        <% else %>
          <div class="col-xs-12 msg-content text-center">
            <h3>No resources found</h3>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</section>