<%= stylesheet_link_tag 'admin-style' %>
<%= render 'layouts/jumbtron' %>
<section class="main-body without-search-feature">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="box-shadow">
          <ol class="breadcrumb">
            <li><%= link_to 'Home',root_url %></li>
            <li><%= link_to 'Resources',jassets_url %></li>
            <li class="active">New</li>
          </ol>
        </div>
      </div>
    </div>
  <div class="fixed-admin-body">
    <div class="col-xs-12">
      <h1>New Resource</h1>
      <div class="mar-top-30 mar-btm-30">
        <%= render 'form' %>
      </div>
    </div>
  </div>
</section>