<%= render 'layouts/jumbtron' %>
<section class="main-body without-search-feature">
  <div class="container" ng:controller="RadioShowCtrl">
    <div class="row">
      <div class="col-xs-12">
        <div class="box-shadow">
          <ol class="breadcrumb">
            <li><%= link_to 'Home',root_url %></li>
            <li class="active">Radio Show</li>
          </ol>
        </div>
      </div>
    </div>
    <div class="row content-section">
      <div class="col-xs-12">
        <h1>Radio Show</h1>
        <!-- div class="panel panel-default radio-banner">
          <div class="panel-body text-center">
            <%= image_tag 'radio_show_banner.jpg', class: 'img-responsive', alt: '' %>
          </div>
        </div -->
        <div class="panel panel-default radio-banner banner-bg">
          <div class="panel-body text-center">
            <div class="row">
              <div class="col-md-2 col-sm-3 col-xs-12">
                <h4 class="top-heading">Co-host</h4>
                <%= image_tag 'tom-radio-pic.jpg', class: 'img-responsive', alt: '' %>
                <h4>Tom K. Wilson <span>Real Estate Radio LIVE</span></h4>
              </div>
              <div class="col-md-8 col-sm-6 col-xs-12">
                <h3>Real Estate Radio Power Investing, <span class="orange-text">the premier real estate investment radio show</span>, is hosted <span class="orange-text">by Tom K. Wilson weekly on KDOW 1220AM</span>. He brings market experts to share professional advice on everything from real estate markets, the economy, and market trends happening today.</h3>
              </div>
              <div class="col-md-2 col-sm-3 col-xs-12">
                <h4 class="top-heading">Featured Guests</h4>
                <div id="radio-show-banner" class="owl-carousel owl-theme">
                  <div class="item">
                  <%= image_tag 'robert-kiyosaki.jpg', class: 'img-responsive', alt: '' %>
                    <h4>Robert Kiyosaki, Author <span>Rich Dad Poor Dad</span></h4>
                  </div>
                  <div class="item"><%= image_tag 'bruce-norris.jpg', class: 'img-responsive', alt: '' %>
                    <h4>Bruce Norris, Founder <span>The Norris Group</span></h4>
                  </div>
                  <div class="item"><%= image_tag 'sean-otoole.jpg', class: 'img-responsive', alt: '' %>
                    <h4>Sean O’Toole, Founder <span>Property Radar</span></h4>
                  </div>
                  <div class="item"><%= image_tag 'dr-doug-duncan.jpg', class: 'img-responsive', alt: '' %>
                    <h4>Dr. Doug Duncan <span>Senior VP &amp; Chief Economist Fannie Mae</span></h4>
                  </div>
                </div>
              </div>
              <!-- <div class="clearfix"></div>
              <div class="col-sm-8 col-sm-offset-2 col-xs-12" style="margin-top:15px;border-top:solid 1px #ddd">
              <h4 style="margin-bottom:15px !important">Featured Guests on the Show Include</h4>
                
              </div> -->
            </div>
          </div>
        </div>
        <h3 class="text-muted" ng:if="loading">Loading...</h3>
        <h3 class="text-muted" ng:if="!loading && videos.length == 0">No episodes found</h3>
        <div class="list-group">
          <div class="list-group-item" ng:repeat="video in videos">
            <div class="row">
              <div class="col-sm-2">
                <img ng:src="{{video.snippet.thumbnails.high.url}}" class="img-thumbnail" alt="">
              </div>
              <div class="col-sm-10">
                <h4>{{video.snippet.title}}<br><small>{{video.snippet.description}}</small></h4>
                <a href="" ng:click="getVideo($index)" ng:if="!video.loading && !video.more && video.snippet.description">More</a>
                <a href="" ng:disabled="true" ng:if="video.loading">Loading...</a>
                <span ng:if="!video.more && video.snippet.description">&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;</span>
                <a href="" ng:click="openVideo(video.id.videoId)">Play Now</a>
              </div>
            </div>
          </div>
        </div>
        <div class="text-center pad-btm-5">
          <nav>
            <ul class="pager">
              <li ng:show="nextPage"><a href="" ng:click="getVideos()" ng:disabled="video.loading"><i class="fa fa-th" aria-hidden="true"></i> Load More</a></li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
</section>
<script>
  var auto_play = ($('.item').length == 1) ? false : 3000;
  $("#radio-show-banner").owlCarousel({autoPlay:auto_play,items:1,itemsDesktop:[1199,1],itemsDesktopSmall:[991,1],itemsTablet:[767,1],itemsMobile:[479,1],transitionStyle:"fade"});
</script>