<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>
      Name: <%= "#{@inquiry[:first_name]} #{@inquiry[:last_name]}" %><br>
      Email: <%= @inquiry[:email] %><br>
      Phone: <%= @inquiry[:phone] %><br>
      Newsletter: <%= @inquiry[:newsletter] ? 'Yes' : 'No' %>
    </p>
    <h2>
      <%= @inquiry[:subject] %>
    </h2>
    <p>
      <%= @inquiry[:description] %>
    </p>
  </body>
</html>