<ul class="nav navbar-nav navbar-right">
  <li><%= link_to 'Properties', syndications_path %></li>
  <li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Investor Education<span class="caret"></span></a>
    <ul class="dropdown-menu">
    <% if current_user %>
      <li><%= link_to 'Articles', blogs_path %></li>
      <li><%= link_to 'New Article', new_blog_path %></li>
    <% else %>
      <li><%= link_to 'Articles', blogs_path %></li>
    <% end %>
      <li><%= link_to 'FAQ\'s', faq_path %></li>
      <li><%= link_to 'Financing Investments', financing_investments_path %></li>
      <li><%= link_to 'Property Management', property_management_path %></li>
      <li><%= link_to 'Resources', jassets_path %></li>
    </ul>
  </li>
  <li><%= link_to 'BACOMM', "http://bacomm.club", target: '_blank',class: 'text-bold' %></li>
  <li><%= link_to 'Events', events_path %></li>
  <li><%= link_to 'Radio Show', radio_show_path %></li>
  <li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">About Us<span class="caret"></span></a>
    <ul class="dropdown-menu">
      <li><%= link_to 'Contact Us', contact_us_path, method: :get %></li>
      <li><%= link_to 'Our Team',users_path %></li>
      <li><%= link_to 'Our Difference',our_difference_path %></li>
    </ul>
  </li>
  <% if current_user %>
  <li>
    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Admin<span class="caret"></span></a>
    <ul class="dropdown-menu">
      <li><%= link_to 'Import',import_path, method: :get %></li>
      <li><%= link_to 'My Account', edit_user_path(current_user) %></li>
      <li><%= link_to 'Meetup Events', meetup_events_url %></li>
      <li><%= link_to 'Logout', logout_path %></li>
    </ul>
  </li>
  <% end %>
  <li class="flag-icon">
    <% if I18n.locale == :cn %>
      <%= link_to 'EN', '/'%>
    <% else %>
      <%= link_to '中文', cn_path, target: '_blank' %>
        <%#= image_tag 'chinese-flag.gif', title: 'Chinese Investor', alt: 'Chinese Investor', class: 'img-responsive' %>
      <%# end %>
    <% end %>
  </li>
</ul>