<!DOCTYPE html>
<html>
<head>
  <title>Wilson Investment Properties, Inc</title>
  <link rel="shortcut icon" href="<%= asset_path "favicon-#{Rails.env}.png" %>" />

  <%
  images = [
    {
      main: asset_path('bg-header-apartments.jpg'),
      small: asset_path('bg-header-apartments.jpg'),
      low: asset_path('bg-header-apartments-low.jpg')
    },
    {
      main: asset_path('bg-header-building.jpg'),
      small: asset_path('bg-header-building.jpg'),
      low: asset_path('bg-header-building-low.jpg')
    },
    {
      main: asset_path('bg-header-corporate.jpg'),
      small: asset_path('bg-header-corporate.jpg'),
      low: asset_path('bg-header-corporate-low.jpg')
    },
    {
      main: asset_path('bg-header-small-house.jpg'),
      small: asset_path('bg-header-small-house.jpg'),
      low: asset_path('bg-header-small-house-low.jpg')
    }
  ]
  image = images[Random.rand(0...(images.count-1))]
  %>
  <style type="text/css">
    .jumbotron.home,
    .jumbotron.blue {
      background-image: url(<%= image[:low] %>);
      background-position: center center !important;
    }
  </style>
  <script type="text/javascript">

    <% images.each_with_index do |img,i| %>

    var img_<%= i %> = new Image();
    img_<%= i %>.src = '<%= img[:main] %>';

    <% end %>
    var images = <%= images.shuffle.to_json.html_safe %>;
    var selectedBG = 0;
    var bgTime = 7000;
    setTimeout(function(){

      setInterval(function(){

        var i = (images.length-1) - selectedBG;

        $('.jumbotron.home').css('background-image','url('+images[i].main+')');
        $('.jumbotron.blue').css('background-image','url('+images[i].small+')');

        selectedBG++;

        if (selectedBG >= images.length){ selectedBG = 0 }

      },bgTime);

    },bgTime);
  </script>

  <%
  preload = []
  images.each do |image|

    preload << image[:main]
    preload << image[:small]

  end
  %>
  <style type="text/css">
    body:after{
      position:absolute; width:0; height:0; overflow:hidden; z-index:-1;
      content: <%= preload.map { |image| "url(#{image})" }.join(' ') %>;
    }
  </style>

  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <style>
    .topfix .jumbotron.home {
      background-image: url('<%= image[:main] %>');
    }
    .topfix .jumbotron.blue {
      background-image: url('<%= image[:small] %>');
    }
  </style>
</head>
<body ng:controller="MainCtrl">

  <% if Rails.env.production? %>
  <div id="placeholder"></div>
  <!-- Google Tag Manager -->
  <noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-M29TXX"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
      new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-M29TXX');</script>
  <!-- End Google Tag Manager -->
  <% end %>
  
  <%= render 'shared/flash_messages'%>
  <%= render 'layouts/header' %>
    <%= yield %>
  <%= render 'layouts/footer' %>
</body>
</html>